{% extends "base.html" %}
{% block head %}Create Cost Model{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="." style="padding-bottom: 20px">{% csrf_token %}
    <button type="submit" class="btn btn-primary" name="cm_create_btn">Create Cost Model</button>
        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Cost Model Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cost Model Name *</label>
                            <div class="col-xs-4">
                                <input class="form-control input-sm" maxlength="45" name="cm_name_ip" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cost Model Description</label>
                            <div class="col-xs-4">
                                <textarea class="form-control input-sm" maxlength="254" rows="2" name="cm_desc_ip"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Associated Services</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Default Service Set *</label>
                            <div class="col-xs-4">
                                <select class="form-control input-sm" name="services_ip" id="services_ip">
                                    {% for key in base_costmodel %}
                                        <option value="{{ key.service_values }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                               data-placement="bottom"
                               data-trigger="focus" title="Default Service Set"
                               data-content="The set of services that the new cost model will be initialized with.">
                                <i class="fa fa-info fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Associated Plants <i>(Optional)</i></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Plants</label>
                            <div class="col-xs-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Plants</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Plants" size="15" name="available_plants_ip" id="available_plants_ip">
                                            {% for key in plants %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                <button type="button" class="btn btn-default" onclick="add_selected(available_plants_ip, plants_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_selected(plants_ip, available_plants_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(available_plants_ip, plants_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(plants_ip, available_plants_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                            </div>

                            <div class="col-xs-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Selected Plants</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" multiple="multiple" title="Selected Plants" size="15" class="form-control input-sm" name="plants_ip" id="plants_ip">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="cm_create_btn">Create Cost Model</button>
    </form>
    <script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    $('form').submit(function () {
        $('#plants_ip option').prop("selected", "selected");
    });

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        //$('#available_plants_ip :selected').each(function(i, selected) {
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();
    }

    function add_all(from, to) {

        //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
    }

    </script>

{% endblock %}