{% extends "base.html" %}
{% block head %}Cost Models

{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Cost Model Name</strong></td>
                            <td><strong>Cost Model Description</strong></td>
                            <td><strong>Defined By</strong></td>
                            <td><strong>Number of Service Values</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in costmodel_list %}
                            <tr onclick="location.href='/organizations/{{ key.organization.id }}/costmodels/{{ key.id }}'" style="cursor: pointer;">
                                <td>{{ key.name }}</td>
                                <td>{{ key.description }}</td>
                                <td>{{ key.defined_by.name }}</td>
                                <td>{{ key.service_values|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list_table').DataTable({
                responsive: true
            });
        });
    </script>



{% endblock %}