
{% extends "base.html" %}
{% block head %}Cost Model Detail{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}">{% csrf_token %}
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Cost Model Information</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cost Model Name *</label>
                            <div class="col-xs-4">
                            {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                <input class="form-control input-sm" maxlength="45" name="cm_name_ip" value="{{ costmodel_detail.name }}" disabled>
                            {% else %}
                                <input class="form-control input-sm" maxlength="45" name="cm_name_ip" value="{{ costmodel_detail.name }}" required>
                            {% endifequal %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Cost Model Description</label>
                            <div class="col-xs-4">
                            {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                <textarea class="form-control input-sm" maxlength="254" rows="2" name="cm_desc_ip" disabled>{{ costmodel_detail.description }}</textarea>
                            {% else %}
                                <textarea class="form-control input-sm" maxlength="254" rows="2" name="cm_desc_ip">{{ costmodel_detail.description }}</textarea>
                            {% endifequal %}
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Plants</label>

                            <div class="col-xs-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Plants</div>
                                    <div class="panel-body" style="padding: 0">
                                    {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                        <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Plants" size="15" name="available_plants_ip" id="available_plants_ip" disabled>
                                            {% for key in plants %}
                                                {% if key.id not in my_plant_list %}
                                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                                    {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Plants" size="15" name="available_plants_ip" id="available_plants_ip">
                                            {% for key in plants %}
                                                {% if key.id not in my_plant_list %}
                                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                                    {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% endifequal %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                <button type="button" class="btn btn-default" onclick="add_selected(available_plants_ip, plants_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_selected(plants_ip, available_plants_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(available_plants_ip, plants_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(plants_ip, available_plants_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                            </div>

                            <div class="col-xs-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Selected Plants</div>
                                    <div class="panel-body" style="padding: 0">
                                    {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                        <select style="border: none" multiple="multiple" title="Selected Plants" size="15" class="form-control input-sm" name="plants_ip" id="plants_ip" disabled>
                                            {%  for key in costmodel_detail.plant %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select style="border: none" multiple="multiple" title="Selected Plants" size="15" class="form-control input-sm" name="plants_ip" id="plants_ip">
                                            {%  for key in costmodel_detail.plant %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <button
                                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                                type="submit" class="btn btn-primary" name="cm_update_btn"
                                {% if costmodel_detail.organization.name != 'Global'  and costmodel_detail.defined_by.name == 'Best Practices'%}
                                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default Cost Model"
                                {% endif %}>Update Cost Model
                        </button>
                        <button
                                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                                type="button" class="btn btn-primary" name="sasModal" data-toggle="modal" data-target="#sasModal">Copy Cost Model
                        </button>
                        <button
                                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                                type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"
                                {% if costmodel_detail.organization.name != 'Global' and costmodel_detail.defined_by.name == 'Best Practices' %}
                                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default Cost Model"
                                {% endif %}>Delete Cost Model
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Save As Modal -->
    <div class="modal fade" id="sasModal" tabindex="-1" role="dialog" aria-labelledby="sasModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save As...</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Cost Model Name *</label>
                        <div class="col-xs-4">
                            <input class="form-control input-sm" name="cm_name_ip" id="cm_name_ip" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">Cost Model Description</label>
                        <div class="col-xs-4">
                            <textarea class="form-control input-sm" rows="2" name="cm_desc_ip" id="cm_desc_ip"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="cm_copy_btn">Copy</button>
                </div>
            </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#summary" data-toggle="tab">Summary View</a></li>
                <li><a href="#detailed" data-toggle="tab">Detailed View</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" style="padding-top: 10px">
                <div class="tab-pane fade in active" id="summary">
                    <div class="btn-group" role="group" style="padding-bottom: 10px">
                        <button
                                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                                type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                                {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default Cost Model"
                                {% endifequal %}>Add Services
                        </button>
                    </div>
                    <!-- Summary View -->
                    <div class="table-responsive">
                    <table id ="summary_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}><strong>Edit Service</strong></td>
                                <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}><strong>Remove Service</strong></td>
                                <th><strong>Service Values ID</strong></th>
                                <th><strong>Service Name</strong></th>
                                <th><strong>Service Values Name</strong></th>
                                <th><strong>O&amp;M Type</strong></th>
                                <th><strong>Service Type</strong></th>
                                <th><strong>Asset Type</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in services %}
                                <tr>
                                    <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}>
                                        <a class="btn btn-primary" href="/organizations/{{ key.organization.id }}/services/{{ key.id }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="td_btn" {% ifequal group "read_user" %} style="display: none;" {% endifequal %}>
                                        {%  ifequal costmodel_detail.defined_by.name "Best Practices" %}
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#remModal" disabled
                                                {% if costmodel_detail.organization.name == 'Global' %} disabled {% endif %}>
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        {% else %}
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#remModal" 
                                                {% if costmodel_detail.organization.name == 'Default' %} disabled {% endif %}>
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        {% endifequal %}
                                    </td>
                                    <td class="td_service_id">{{ key.id }}</td>
                                    <td class="td_service_name" title="{{ key.service.description}}">{{ key.service.name }}</td>
                                    <td class="td_instance_name" title="{{ key.description}}">{{ key.name }}</td>
                                    <td>{{ key.service.om_type.name }}</td>
                                    <td>{{ key.service.service_type.name }}</td>
                                    <td>{{ key.service.asset_type.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="detailed">
                    <div class="btn-group" role="group" style="padding-bottom: 10px">
                        <button
                                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                                type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal"
                                {% if costmodel_detail.defined_by.name == 'Best Practices' %}
                                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default Cost Model"
                                {% endif %}>Add Services
                        </button>
                    </div>
                    <!-- Detailed View -->
                    <div class="table-responsive">
                    <form role="form" method="post" id="my_form" action="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}">{% csrf_token %}</form>
                    <table id ="detailed_table" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}><strong>Edit Service</strong></td>
                                <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}><strong>Remove Service</strong></td>
                                <td><strong>Service Values ID</strong></td>
                                <td><strong>Service Name</strong></td>
                                <td><strong>Service Description</strong></td>
                                <td><strong>Service Values Name</strong></td>
                                <td><strong>Service Values Description</strong></td>
                                <td><strong>O&amp;M Type</strong></td>
                                <td><strong>Service Type</strong></td>
                                <td><strong>Asset Type</strong></td>
                                <td><strong>Material Covered by Warranty</strong></td>
                                <td><strong>Labor Covered by Warranty</strong></td>
                                <td><strong>Warranty Type</strong></td>
                                <td><strong>Applicable Unit</strong></td>
                                <td><strong>Service Provider</strong></td>
                                <td><strong>Labor Rate/Hour</strong></td>
                                <td><strong>Overhead Multiplier</strong></td>
                                <td><strong>Mean Interval</strong></td>
                                <td><strong>Shape Factor</strong></td>
                                <td><strong>Failure Distribution Type</strong></td>
                                <td><strong>Approximate Number of Units</strong></td>
                                <td><strong>Labor Hours/Unit</strong></td>
                                <td><strong>Material/Other Cost per Unit</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in services %}
                                <tr><!--class="td_btn clickable-row" data-toggle="modal" data-target="#remModal"-->

                                    <td {% ifequal group "read_user" %} style="display: none;" {% endifequal %}>
                                        <a class="btn btn-primary" href="/organizations/{{ key.organization.id }}/services/{{ key.id }}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td class="td_btn" {% ifequal group "read_user" %} style="display: none;" {% endifequal %}>
                                        <a class="btn btn-danger" data-toggle="modal" data-target="#remModal"
                                                {% if costmodel_detail.organization.name == 'Default' %} disabled {% endif %}>
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                    <td class="td_service_id">{{ key.id }}</td>
                                    <td class="td_service_name" title="{{ key.service.description}}">{{ key.service.name }}</td>
                                    <td class="td_service_desc">{{ key.service.description }}</td>
                                    <td class="td_instance_name" title="{{ key.description}}">{{ key.name }}</td>
                                    <td>{{ key.description }}</td>
                                    <td class="td_service_type">{{ key.service.om_type.name }}</td>
                                    <td class="td_service_category">{{ key.service.service_type.name }}</td>
                                    <td class="td_om_category">{{ key.service.asset_type.name }}</td>
                                    <td class="td_matl_warranty">{% ifequal key.material_warranty_covered 1 %} Yes
                                        {% else %}No
                                        {% endifequal %}</td>
                                    <td class="td_lab_warranty">{% ifequal key.labor_warranty_covered 1 %} Yes
                                        {% else %}No
                                        {% endifequal %}</td>
                                    <td class="td_warranty_type">{{ key.warranty_type.name }}</td>
                                    <td class="td_app_unit">{{ key.applicable_unit.name }}</td>
                                    <td class="td_service_prov">{{ key.service_provider.name }}</td>
                                    <td>{{ key.labor_rate.rate_per_hour }}</td>
                                    <td>{{ key.labor_rate.overhead_multiplier }}</td>
                                    <td class="td_interval">{{ key.mean_interval }}</td>
                                    <td class="td_shape_factor">{{ key.shape_factor }}</td>
                                    <td class="td_distribution">{{ key.failure_distribution_type.name }}</td>
                                    <td class="td_units">{{ key.number_of_units }}</td>
                                    <td class="td_lab_hours">{{ key.labor_hours_per_unit }}</td>
                                    <td class="td_matl_cost">{{ key.material_cost_per_unit }}</td>
                                </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->

    <!-- Delete Cost Model Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Cost Model</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ costmodel_detail.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="cm_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Add Service Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Services</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label style="padding-left: 20px">Service - Service Values *</label>
                        <div class="row" style="padding-left: 20px">
                            <div class="col-xs-5">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Services</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" multiple="multiple" size="30" class="form-control input-sm" title="Available Services" name="available_services_ip" id="available_services_ip" >
                                            {% for key in missing_services %}
                                                <option value="{{ key.default_values.id }}">{{ key.name }} - {{ key.default_values.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                <button type="button" class="btn btn-default" onclick="add_selected(available_services_ip, new_services_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_selected(new_services_ip, available_services_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(available_services_ip, new_services_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(new_services_ip, available_services_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                            </div>

                            <div class="col-xs-5">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Selected Services</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" multiple="multiple" title="Selected Services" size="30" class="form-control input-sm" name="new_services_ip" id="new_services_ip">
                                            {% for key in services %}
                                                <option value="{{ key.id }}">{{ key.service.name }} - {{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="add_service_btn">Add Selected Services</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Remove Service Modal-->
    <div class="modal fade" id="remModal" tabindex="-1" role="dialog" aria-labelledby="remModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Remove Service</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <label> Are you sure you want to remove service </label>
                    <label id="service_name_label"></label>
                    <div class="form-group">

                        <input type="hidden" name="service_id_ip" id="service_id_ip">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <!--button type="submit" class="btn btn-primary" name="edit_svc_btn" id="edit_svc_btn">Edit Service</button-->
                    <button type="submit" class="btn btn-danger" formaction="/organizations/{{ costmodel_detail.organization.id }}/costmodels/{{ costmodel_detail.id }}" name="remove_service_btn"
                            {% if costmodel_detail.organization.name == 'Global' %}
                                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default Cost Model"
                            {% endif %}>Remove Service</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
    $(document).ready(function() {

        $('#summary_table').DataTable({
            responsive: true
        });

        $('#detailed_table').DataTable({
            responsive: true
        });

        var summary_table = $('#summary_table').DataTable();

        $('#summary_table tbody').on( 'click', 'tr', function () {
            console.log( summary_table.row( this ).data()[2] );

            var service_id_to_remove = summary_table.row( this ).data()[2];
            var service_type_name_ip = summary_table.row( this ).data()[3];
            var service_name_ip = summary_table.row( this ).data()[4];

            var str1 = service_type_name_ip.concat(' - ');
            var str2 = str1.concat(service_name_ip);
            console.log( str2 );
            $('#service_id_ip').val(service_id_to_remove);
            document.getElementById('service_name_label').innerHTML = str2;
        } );

        var detailed_table = $('#detailed_table').DataTable();

        $('#detailed_table tbody').on( 'click', 'tr', function () {
            console.log( detailed_table.row( this ).data()[2] );

            var service_id_to_remove = detailed_table.row( this ).data()[2];
            var service_type_name_ip = detailed_table.row( this ).data()[3];
            var service_name_ip = detailed_table.row( this ).data()[5];

            var str1 = service_type_name_ip.concat(' - ');
            var str2 = str1.concat(service_name_ip);
            console.log( str2 );
            $('#service_id_ip').val(service_id_to_remove);
            document.getElementById('service_name_label').innerHTML = str2;
        } );

        /*
        $('.td_btn').click(function(){
            var $row = $(this).closest('tr');
            var service_id_ip =  $row.find('.td_service_id').text();
            var service_name_ip =  $row.find('.td_service_name').text();
            var instance_name_ip =  $row.find('.td_instance_name').text();

            //str1 = '/services/';
            var str1 = service_name_ip.concat(' - ');
            var str2 = str1.concat(instance_name_ip);
            // $('#service_id_ip').val(service_id_ip);
            // $('#service_id_ip').val(service_id_to_remove);
            document.getElementById('service_name_label').innerHTML = str2;

        });
        */
    });

    $('form').submit(function () {
        $('#plants_ip option').prop("selected", "selected");
        $('#new_services_ip option').prop("selected", "selected");
    });

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();
    }

    function add_all(from, to) {

        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
    }

    </script>

{% endblock %}
