{% extends "base.html" %}
{% block head %}Cost Model Dashboard{% endblock %}
{% block content %}


     <!-- /.row -->
    <div class="row">
        <!--
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tree fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">2</div>
                            <div>Portfolios</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
                -->
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pagelines fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ plant_group_count }}</div>
                            <div>Plant Groups</div>
                        </div>
                    </div>
                </div>
                <a href="/organizations/{{ org_id }}/plant_groups/">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-leaf fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ plant_count }}</div>
                            <div>Plants</div>
                        </div>
                    </div>
                </div>
                <a href="/organizations/{{ org_id }}/plants/">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bar-chart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ costmodel_count }}</div>
                            <div>Cost Models</div>
                        </div>
                    </div>
                </div>
                <a href="/organizations/{{ org_id }}/costmodels/?default=true">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-wrench fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ service_count }}</div>
                            <div>Services</div>
                        </div>
                    </div>
                </div>
                <a href="/organizations/{{ org_id }}/services/?default=true">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <!-- TOU modal if users first login-->
    <div class="modal fade" id="touCodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Terms of Use</h4>
            </div>
            <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://sunspec.org/osparc-service-activation-agreement/" class="embed-responsive-item" frameborder="0"></iframe>
            </div>
            </div>
            <div class="modal-footer tou_agree">
                <div class="tou_agree">*By clicking I agree, you agree to the Terms of Use</div>
                <button type="button" class="btn btn-primary" name="tou_agree_btn" data-dismiss="modal">I agree</button>
            </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .tou_agree { text-align: center; margin-bottom: 10px }

    </style>
    {% if not last_login %}
        <script type="text/javascript">
            $(document).ready(
                function() {
                    var isshow = localStorage.getItem('showTOU');
                    if (isshow == null) {
                        localStorage.setItem('showTOU', 1);
                        // $('#touCodeModal').modal('show');
                    }
                }
            );
        </script>

    {% endif %}

{% endblock %}




