{% extends "base.html" %}
{% block head %}Labor Rate Detail{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="/organizations/{{ lr_detail.organization.id }}/labor_rates/{{ lr_detail.id }}">{% csrf_token %}

        <button
                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                type="submit" class="btn btn-primary" name="lr_update_btn"
                {%  if lr_detail.organization.name != 'Global' and lr_detail.defined_by.id == 3 %}
                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default"
                {% endif %}>Update Labor Rate</button>
        <button
                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"
                {%  if lr_detail.organization.id != 'Global' and lr_detail.defined_by.id == 3 %}
                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default"
                {% endif %}>Delete Labor Rate</button>

        <div class="row" style="padding-top: 20px; padding-bottom: 20px">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Labor Rate Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <input class="hidden" name="lr_id_ip" id="lr_id_ip" value="{{ lr_detail.id }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Labor Rate Name *</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label" disabled>{{ lr_detail.name }}</label>
                                {% else %}
                                    <input class="form-control input-sm" maxlength="150" name="name_ip" id="name_ip" value="{{ lr_detail.name }}" disabled {% ifequal service_detail.service.organization.id 2 %} disabled {% endifequal %}>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Labor Rate Description</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.description }}</label>
                                {% else %}
                                    <textarea class="form-control input-sm" rows="2" maxlength="254" name="desc_ip" disabled>{{ lr_detail.description }}</textarea>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Rate per Hour *</label>
                                <div class="col-xs-4">
                                    {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ lr_detail.rate_per_hour }}</label>
                                {% else %}
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input class="form-control input-sm" name="rate_ip" id="rate_ip" value="{{ lr_detail.rate_per_hour }}" disabled {% ifequal service_detail.service.organization.id 2 %} disabled {% endifequal %}>
                                    </div>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Overhead Multiplier *</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.overhead_multiplier }}</label>
                                {% else %}
                                    <input class="form-control input-sm" name="mul_ip" id="mul_ip" value="{{ lr_detail.overhead_multiplier }}" disabled {% ifequal service_detail.service.organization.id 2 %} disabled {% endifequal %}>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Service Provider *</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.service_provider.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="sp_ip" id="sp_ip" disabled>
                                        {% for key in service_provider %}
                                            <option value="{{ key.id }}" {% ifequal key.id lr_detail.service_provider.id %} selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Loaded Rate per Hour</label>
                                <div class="col-xs-4">
                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ lr_detail.loaded_rate_per_hour }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Country</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.country.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="country_ip" id="country_ip" onchange="populate_state(); populate_city()" disabled>
                                        <option value="" {% ifequal lr_detail.country null %} selected="selected" {% endifequal %}>----------</option>

                                        {% for key in country %}
                                            <option value="{{ key.id }}" {% ifequal key.id lr_detail.country.id %} selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}

                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">State</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.state.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="state_ip" id="state_ip" onchange="populate_city()" disabled></select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">City</label>
                                <div class="col-xs-4">
                                {%  ifequal lr_detail.organization.id 2 %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ lr_detail.city.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="city_ip" id="city_ip" disabled></select>
                                {% endifequal %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button
                        {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                        type="submit" class="btn btn-primary" name="lr_update_btn"
                        {% if lr_detail.organization.name != 'Global' and lr_detail.defined_by.id == 3 %}
                        disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default"
                        {% endif %}>Update Labor Rate</button>
                <button
                        {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                        type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"
                        {%  if lr_detail.organization.id.name != 'Global' and lr_detail.defined_by.id == 3 %}
                        disabled data-toggle="tooltip" data-placement="bottom" title="Disabled due to Default"
                        {% endif %}>Delete Labor Rate</button>
            </div>
        </div>
    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Labor Rate</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ lr_detail.organization.id }}/labor_rates/{{ lr_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete Labor Rate <strong>{{ lr_detail.name }}</strong> for <strong>{{ lr_detail.service_provider.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="lr_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var country_select = document.getElementById("country_ip");
        var state_select = document.getElementById("state_ip");
        var city_select = document.getElementById("city_ip");

        var lr_detail = '{{ lr_detail_js }}';
        var lr_detail_quotes = lr_detail.replace(/&quot;/ig, '"');
        var labor_rate = JSON.parse(lr_detail_quotes);

        var state_list = '{{ state }}';
        var state_list_quotes = state_list.replace(/&quot;/ig, '"');
        var states = JSON.parse(state_list_quotes);

        var city_list = '{{ city }}';
        var city_list_quotes = city_list.replace(/&quot;/ig, '"');
        var cities = JSON.parse(city_list_quotes);
        if (labor_rate.state == null) {
            var opt = document.createElement("option");
            opt.value = "";
            opt.innerHTML = "----------";
            state_select.appendChild(opt);
        }
        if (labor_rate.city == null) {
            var opt = document.createElement("option");
            opt.value = "";
            opt.innerHTML = "----------";
            city_select.appendChild(opt);
        }
        populate_state();
        populate_city();

        function removeOptions(selectbox)
        {
            var i;
            for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
            {
                selectbox.remove(i);
            }
        }

        function populate_state() {

            removeOptions(state_select);
            var selected_country = country_select.options[country_select.selectedIndex].value;

            if (selected_country == ""){
                var opt1 = document.createElement("option");
                opt1.value = "";
                opt1.innerHTML = "----------";
                state_select.appendChild(opt1);
            }
            else for (var i = 0; i < states.length; i++) {
                if (states[i]['country'] == selected_country){
                    var opt = document.createElement("option");
                    opt.value= states[i]['id'];
                    opt.innerHTML = states[i]['name'];
                    if (labor_rate.state != null && states[i]['id'] == labor_rate.state.id){
                        //state_select.options[state_select.options.selectedIndex].selected = true;
                        opt.selected = true;
                    }
                    state_select.appendChild(opt);

                }
            }
        }

        function populate_city() {

            removeOptions(city_select);
            var selected_state = state_select.options[state_select.selectedIndex].value;

            if (selected_state == ""){
                var opt2 = document.createElement("option");
                opt2.value = "";
                opt2.innerHTML = "----------";
                removeOptions(city_select);
                city_select.appendChild(opt2);
            }
            else for (var i = 0; i < cities.length; i++) {
                if (cities[i]['state'] == selected_state){
                    var opt = document.createElement("option");
                    opt.value= cities[i]['id'];
                    opt.innerHTML = cities[i]['name'];
                    if (labor_rate.city != null && cities[i]['id'] == labor_rate.city.id){
                        opt.selected = true;
                    }
                    city_select.appendChild(opt);
                }
            }
        }
    </script>

{% endblock %}
