{% extends "base.html" %}
{% block head %}Labor Rates{% endblock %}
{% block content %}

    <div class="row">

        <!--div class="col-lg-8">
            <form class="form-horizontal" role="form" method="get" action="/organizations/{{ org_id }}/labor_rates/">
                <div class="form-group">
                    <div class="col-xs-4">
                        <select class="form-control input-sm" name="default" id="default" onchange="this.form.submit()">
                            <option value="true" {% ifequal default 'true' %} selected="selected" {% endifequal %}>Include Standard Labor Rates</option>
                            <option value="false" {% ifequal default 'false' %} selected="selected" {% endifequal %}>Exclude Standard Labor Rates</option>
                        </select>
                    </div>
                </div>
            </form>
        </div-->

        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="lr_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Labor Rate Name</strong></td>
                            <td><strong>Service Provider</strong></td>
                            <td><strong>Country</strong></td>
                            <td><strong>State</strong></td>
                            <td><strong>City</strong></td>
                            <td><strong>Rate per Hour</strong></td>
                            <td><strong>Overhead Multiplier</strong></td>
                            <td><strong>Loaded Rate per Hour</strong></td>
                            <!--td><strong>Scope of Work</strong></td>
                            <td><strong>Qualifications</strong></td-->

                            <td><strong>Defined By</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in labor_rate_data %}
                            <tr onclick="location.href='/organizations/{{ key.organization.id }}/labor_rates/{{ key.id }}'" style="cursor: pointer;">
                                <td title="{{ key.description }}">{{ key.name }}</td>
                                <td title="{{ key.service_provider.scope }} - {{ key.service_provider.qualifications }}">{{ key.service_provider.name }}</td>
                                <td>{{ key.country.name }}</td>
                                <td>{{ key.state.name }}</td>
                                <td>{{ key.city.name }}</td>
                                <td>${{ key.rate_per_hour }}</td>
                                <td>{{ key.overhead_multiplier }}</td>
                                <td>${{ key.loaded_rate_per_hour }}</td>
                                <!--td>{{ key.service_provider.scope }}</td>
                                <td>{{ key.service_provider.qualifications }}</td-->

                                <td>{{ key.defined_by.name }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#lr_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}