{% extends "base.html" %}
{% block head %} Create Labor Rate{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}
    <p id="demo1"></p>

    <form id="surveyForm" class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Labor Rate Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Labor Rate Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control input-sm" maxlength="150" name="name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Labor Rate Description</label>
                                <div class="col-xs-4">
                                    <textarea class="form-control input-sm" maxlength="254" rows="2" name="desc_ip"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Rate per Hour *</label>
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" step="any" class="form-control input-sm" name="rate_ip" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Overhead Multiplier *</label>
                                <div class="col-xs-4">
                                    <input type="number" step="any" class="form-control input-sm" name="mul_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Service Provider *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="sp_ip">
                                        {% for key in service_provider %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Country</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="country_ip" id="country_ip" onchange="populate_state(); populate_city()">
                                        <option value="">----------</option>
                                        {% for key in country%}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <!--span class="input-group-btn">
                                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addCountryModal">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </span-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">State</label>
                                <div class="col-xs-4">
                                    <!--div class="input-group"-->
                                        <select class="form-control" name="state_ip" id="state_ip" onchange="populate_city()">
                                            <option value="">----------</option>
                                        </select>
                                        <!--span class="input-group-btn">
                                            <button type="button" class="btn btn-success" name="add_state_btn" data-toggle="modal" data-target="#addStateModal">
                                            <i class="fa fa-plus"></i></button>
                                        </span>
                                    </div-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">City</label>
                                <div class="col-xs-4">
                                    <!--div class="input-group"-->
                                        <select class="form-control" name="city_ip" id="city_ip">
                                            <option value="">----------</option>
                                        </select>
                                        <!--span class="input-group-btn">
                                            <button type="button" class="btn btn-success" name="add_city_btn" data-toggle="modal" data-target="#addCityModal">
                                            <i class="fa fa-plus"></i></button>
                                        </span>
                                    </div-->

                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary center-block" name="lr_create_btn">Create Labor Rate</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Add Country Modal >
    <div class="modal fade" id="addCountryModal" tabindex="-1" role="dialog" aria-labelledby="addCountryModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a Country</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/labor_rates/new/">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Country Name</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control input-sm" name="country_name_ip" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">2-Letter Country Code</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control input-sm" name="country_code_ip" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="add_country_btn">Add</button>
                </div>
            </form>
            </div>
        </div>
    </div-->

    <!-- Add State Modal>
    <div class="modal fade" id="addStateModal" tabindex="-1" role="dialog" aria-labelledby="addStateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a State</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/labor_rates/new/">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Country Name</label>
                        <div class="col-xs-4">
                            <select class="form-control input-sm" name="country_ip" id="country_ip">
                                {% for key in country %}
                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">State Name</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control input-sm" name="state_name_ip" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="add_state_btn">Add</button>
                </div>
            </form>
            </div>
        </div>
    </div-->

    <!-- Add City Modal >
    <div class="modal fade" id="addCityModal" tabindex="-1" role="dialog" aria-labelledby="addCityModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a City</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/labor_rates/new/">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Country</label>
                        <div class="col-xs-4">
                            <select class="form-control input-sm" name="country_ip" id="country_ip" onchange="populate_state()">
                                {% for key in country %}
                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">State</label>
                        <div class="col-xs-4">
                            <select class="form-control input-sm" name="state_ip" id="state_ip"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">City Name</label>
                        <div class="col-xs-4">
                            <input type="text" class="form-control input-sm" name="city_name_ip" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="add_city_btn">Add</button>
                </div>
            </form>
            <p id="demo"></p>

            </div>
        </div>
    </div-->

    <script type="text/javascript">

        var country_select = document.getElementById("country_ip");
        var state_select = document.getElementById("state_ip");
        var city_select = document.getElementById("city_ip");
        /*
        if (country_select.value == "") {
            var opt1 = document.createElement("option");
            opt1.value = "";
            opt1.innerHTML = "----------";
            state_select.appendChild(opt1);
            if (state_select.value = "") {
                var opt2 = document.createElement("option");
                opt2.value = "";
                opt2.innerHTML = "----------";
                city_select.appendChild(opt2);
            }
        }
        */
        var state_list = '{{ state }}';
        var state_list_quotes = state_list.replace(/&quot;/ig, '"');
        var states = JSON.parse(state_list_quotes);

        var city_list = '{{ city }}';
        var city_list_quotes = city_list.replace(/&quot;/ig, '"');
        var cities = JSON.parse(city_list_quotes);

        function removeOptions(selectbox) {
            var i;
            for (i = selectbox.options.length - 1; i >= 0; i--) {
                selectbox.remove(i);
            }
        }

        function populate_state() {

            removeOptions(state_select);
            var selected_country = country_select.options[country_select.selectedIndex].value;

            //for (var i = 0; i < states['results'].length; i++) {
            if (selected_country == ""){
                var opt1 = document.createElement("option");
                opt1.value = "";
                opt1.innerHTML = "----------";
                state_select.appendChild(opt1);
            }
            else for (var i = 0; i < states.length; i++) {
                if (states[i]['country'] == selected_country){
                    var opt = document.createElement("option");
                    opt.value= states[i]['id'];
                    opt.innerHTML = states[i]['name'];
                    state_select.appendChild(opt);
                }
            }
        }
        function populate_city() {

            removeOptions(city_select);
            var selected_state = state_select.options[state_select.selectedIndex].value;
            if (selected_state == ""){
                var opt2 = document.createElement("option");
                opt2.value = "";
                opt2.innerHTML = "----------";
                removeOptions(city_select);
                city_select.appendChild(opt2);
            }
            else for (var i = 0; i < cities.length; i++) {
                if (cities[i][ 'state'] == selected_state){
                    var opt = document.createElement("option");
                    opt.value= cities[i]['id'];
                    opt.innerHTML = cities[i]['name'];
                    city_select.appendChild(opt);
                }
            }
        }

    $('#addCityModal').on('shown', function(){
        //$(".country_ip).change();
        //$(".city_name_ip).html('Hello');
        //$(".modal-body).html('Hello');
      alert('The modal is shown');
    });


    </script>

{% endblock %}