{% extends "base.html" %}

{% block head %}Plant Group Detail{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="/organizations/{{ plant_group_detail.organization.id }}/plant_groups/{{ plant_group_detail.id }}">{% csrf_token %}

    <button
            {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
            type="submit" class="btn btn-primary" name="plant_group_update_btn">
        Update Plant Group
    </button>
    <button
            {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
            type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal">
        Delete Plant Group
    </button>

        <div class="row" style="padding-top: 20px; padding-bottom: 20px">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Group Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Plant Group Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control input-sm" maxlength="45" value="{{ plant_group_detail.name }}" name="name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Plant Description</label>
                                <div class="col-xs-4">
                                    <textarea class="form-control input-sm" maxlength="254" rows="2" name="desc_ip">{{ plant_group_detail.description }}</textarea>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plants</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Plants</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Plants" size="15" name="available_plants_ip" id="available_plants_ip">
                                                {% for key in plants %}
                                                    {% if key.id not in plant_list %}
                                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_plants_ip, plants_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(plants_ip, available_plants_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_plants_ip, plants_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(plants_ip, available_plants_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Plants</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Selected Plants" size="15" class="form-control input-sm" name="plants_ip" id="plants_ip" onload="populate_plant_list()">
                                                {%  for key in plant_group_detail.plant %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plant Groups</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Plant Groups</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Plant Groups" name="available_plant_groups_ip" id="available_plant_groups_ip">
                                                {% for key in plant_groups %}
                                                    {% if key.id not in plant_group_list %}
                                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_plant_groups_ip, plant_groups_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(plant_groups_ip, available_plant_groups_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_plant_groups_ip, plant_groups_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(plant_groups_ip, available_plant_groups_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Plant Groups</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Selected Plant Groups" size="15" class="form-control input-sm" name="plant_groups_ip" id="plant_groups_ip">
                                                {%  for key in plant_group_detail.plant_group %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Assign a Cost Model to a list of plants <i>(Optional)</i></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Cost Model</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="costmodel_ip">
                                    {% for key in costmodels %}
                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                            <hr/>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plant List</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Plant Groups</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Selected Plants" name="available_plant_list_ip" id="available_plant_list_ip">
                                                {%  for key in plant_group_detail.plant %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_plant_list_ip, plant_list_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(plant_list_ip, available_plant_list_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_plant_list_ip, plant_list_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(plant_list_ip, available_plant_list_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Subset of Plants</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Subset of Plants" size="15" class="form-control input-sm" name="plant_list_ip" id="plant_list_ip">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button
                        {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                        type="submit" class="btn btn-primary" name="plant_group_update_btn">
                    Update Plant Group
                </button>
                <button
                        {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                        type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal">
                    Delete Plant Group
                </button>
            </div>
        </div>
    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Plant Group</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ plant_group_detail.organization.id }}/plant_groups/{{ plant_group_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ plant_group_detail.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="plant_group_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var plant_select = document.getElementById("plants_ip");
        var plant_list_select = document.getElementById("plant_list_ip");

        /*
        populate_plant_list();

        function removeOptions(selectbox) {
            var i;
            for (i = selectbox.options.length - 1; i >= 0; i--) {
                selectbox.remove(i);
            }
        }

        function populate_plant_list() {

            removeOptions(plant_list_select);

            var realvalues = [];
            var textvalues = [];
            $('#plants_ip :selected').each(function(i, selected) {
                realvalues[i] = $(selected).val();
                textvalues[i] = $(selected).text();
            });

            for (var i = 0; i < realvalues.length; i++) {
                var opt = document.createElement("option");
                opt.value= realvalues[i];
                opt.innerHTML = textvalues[i];
                plant_list_select.appendChild(opt);
            }
        */
        $('form').submit(function () {
            $('#plants_ip option').prop("selected", "selected");
            $('#plant_groups_ip option').prop("selected", "selected");
            $('#plant_list_ip option').prop("selected", "selected");
        });

        function add_selected(from, to) {
            var realvalues = [];
            var textvalues = [];
            //$('#available_plants_ip :selected').each(function(i, selected) {
            $('#'+from.id+' :selected').each(function(i, selected) {
                realvalues[i] = $(selected).val();
                textvalues[i] = $(selected).text();
            });
            var to_select = document.getElementById(to.id);
            for (var i = 0; i < realvalues.length; i++) {
                var opt = document.createElement("option");
                opt.value= realvalues[i];
                opt.innerHTML = textvalues[i];
                to_select.appendChild(opt);
            }
            $("#"+from.id+" option:selected").remove();
            console.log(typeof(from.id));
            console.log(typeof('available_plant_list_ip'));
            if(from.id != 'available_plant_list_ip' && from.id != 'plant_list_ip'){
                console.log(true);
                $('#available_plant_list_ip option[value!="0"]').remove();
                $('#plants_ip option[value!="0"]').clone().appendTo('#available_plant_list_ip');
            }
        }

        function add_all(from, to) {

            //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
            $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);

            if(from.id != 'available_plant_list_ip' && from.id != 'plant_list_ip'){
                $('#available_plant_list_ip option[value!="0"]').remove();
                $('#plants_ip option[value!="0"]').clone().appendTo('#available_plant_list_ip');
            }
        }

            //var selected_plants = plant_list_select.val();
            //var selected_country = country_select.options[country_select.selectedIndex].value;

            //for (var i = 0; i < states['results'].length; i++) {
            /*
            if (selected_plants == "") {
                var opt1 = document.createElement("option");
                opt1.value = "";
                opt1.innerHTML = "----------";
                plant_list_select.appendChild(opt1);
            }
            else for (var i = 0; i < selected_plants.length; i++) {
                var opt = document.createElement("option");
                opt.value = i['id'];
                opt.innerHTML = i['name'];
                plant_list_select.appendChild(opt);
            }

        }
*/
    </script>

{% endblock %}