{% extends "base.html" %}

{% block head %}Create Plant Group{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
        <button type="submit" class="btn btn-primary" name="plant_group_create_btn">Create Plant Group</button>

        <div class="row" style="padding-top: 20px; padding-bottom: 20px">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Group Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Plant Group Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" class="form-control input-sm" maxlength="45" name="name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Plant Group Description</label>
                                <div class="col-xs-4">
                                    <textarea class="form-control input-sm" maxlength="254" rows="2" name="desc_ip"></textarea>
                                </div>
                            </div>

                            <hr />
                            <!--div class="form-group">
                                <label class="col-xs-4 control-label">Plants</label>
                                <div class="col-sm-8">
                                    <select style="float:left; display:inline; width: 42%;" class="form-control input-sm" multiple="multiple" title="Available Plants" size="10" name="available_plants_ip" id="available_plants_ip">
                                        <option disabled value="0">Available Plants:</option>
                                        <option disabled value="0">──────────</option>
                                        {% for key in plants %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>

                                    <div style="float:left; display:inline; width: 15%; padding-left: 5px; padding-right: 5px" class="btn-group-vertical">
                                        <button type="button" class="btn btn-default" onclick="add_selected(available_plants_ip, plants_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                        <button type="button" class="btn btn-default" onclick="add_selected(plants_ip, available_plants_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                        <button type="button" class="btn btn-default" onclick="add_all(available_plants_ip, plants_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                        <button type="button" class="btn btn-default" onclick="add_all(plants_ip, available_plants_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                    </div>
                                    <select style="float:left; display:inline; width: 42%;" multiple="multiple" title="Selected Plants" size="10" class="form-control input-sm" name="plants_ip" id="plants_ip">
                                        <option style="background: #d9edf7" disabled value="0">Selected Plants:</option>
                                        <option disabled value="0">──────────</option>
                                    </select>

                                </div>
                            </div>
                            <!-- /.row -->

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plants</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Plants</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Plants" size="15" name="available_plants_ip" id="available_plants_ip">
                                                {% for key in plants %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_plants_ip, plants_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(plants_ip, available_plants_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_plants_ip, plants_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(plants_ip, available_plants_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Plants</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Selected Plants" size="15" class="form-control input-sm" name="plants_ip" id="plants_ip">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Plant Groups</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Plant Groups</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Plant Groups" name="available_plant_groups_ip" id="available_plant_groups_ip">
                                                {% for key in plant_groups %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_plant_groups_ip, plant_groups_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(plant_groups_ip, available_plant_groups_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_plant_groups_ip, plant_groups_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(plant_groups_ip, available_plant_groups_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Plant Groups</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Selected Plant Groups" size="15" class="form-control input-sm" name="plant_groups_ip" id="plant_groups_ip">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" name="plant_group_create_btn">Create Plant Group</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        $('form').submit(function () {
            $('#plants_ip option').prop("selected", "selected");
            $('#plant_groups_ip option').prop("selected", "selected");
        });

        function add_selected(from, to) {
            var realvalues = [];
            var textvalues = [];
            //$('#available_plants_ip :selected').each(function(i, selected) {
            $('#'+from.id+' :selected').each(function(i, selected) {
                realvalues[i] = $(selected).val();
                textvalues[i] = $(selected).text();
            });
            var to_select = document.getElementById(to.id);
            for (var i = 0; i < realvalues.length; i++) {
                var opt = document.createElement("option");
                opt.value= realvalues[i];
                opt.innerHTML = textvalues[i];
                to_select.appendChild(opt);
            }
            $("#"+from.id+" option:selected").remove();
        }

        function add_all(from, to) {

            //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
            $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
        }

    </script>

{% endblock %}
