{% extends "base.html" %}
{% block head %}Plant Groups{% endblock %}
{% block content %}

    <!--div class="row">
        <div class="col-lg-8">
            <div class="list-group">
                {% for key in plant_group_list %}
                <a href="/organizations/{{ key.organization.id }}/plant_groups/{{ key.id }}" class="list-group-item list-group-item-action clearfix">
                    <h5 class="list-group-item-heading"><strong>{{ key.name }}</strong></h5>
                    <p class="list-group-item-text">{{ key.description }}</p>
                    <!--span class="pull-right">
                        <button type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"><span class="glyphicon glyphicon-trash"></span></button>
                    </span-->
                <!--/a>
                {% endfor %}
            </div>
        </div>
    </div-->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Plant Group Name</strong></td>
                            <td><strong>Plant Group Description</strong></td>
                            <td><strong>Number of Plants</strong></td>
                            <td><strong>Number of Plant Groups</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in plant_group_list %}
                            <tr onclick="location.href='/organizations/{{ key.organization.id }}/plant_groups/{{ key.id }}'" style="cursor: pointer;">
                                <td>{{ key.name }}</td>
                                <td>{{ key.description }}</td>
                                <td>{{ key.plant|length }}</td>
                                <td>{{ key.plant_group|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}