{% extends "base.html" %}
{% block head %}Plant Group Report - {{ results.plant_group_name }}{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

  <form class="form-horizontal" role="form" id="form" method="post" action=".">{% csrf_token %}
  <div class="row">
      <div class="col-md-12">
          <button
              type="button"
              name="rerunModal"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#rerunModal"
          >Re-Run</button>
          <button
            {% ifequal user_permission "Read" %}
            style="display: none;"
            {% endifequal %}
            type="button"
            name="delModal"
            class="btn btn-danger pull-right"
            data-toggle="modal"
            data-target="#delModal"
          >Delete Report</button>
      </div>
  </div>
  </form>

    <p id="demo"></p>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">Result Summary</div>
                        <div class="panel-body">
                            <div class="row">
                                <form class="form-horizontal" role="form" action=".">
                                    <div class="form-group">
                                        <label class="control-label col-xs-5">Number of Plants:</label>
                                        <div class="col-xs-4">
                                            <label style="text-align: left; font-weight: normal" class="control-label">{{ results.number_of_plants }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-5">Plant Names:</label>
                                        <div class="col-xs-4">
                                            <label style="text-align: left; font-weight: normal" class="control-label">{% for plant in results.plant_names %}{{ plant }}<br>{% endfor %}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-5">Net Present Value O&amp;M Costs (Project Life):</label>
                                        <div class="col-xs-4">
                                            <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.npv_om_costs }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-5">Net Present Value (Project Life) per Wp:</label>
                                        <div class="col-xs-4">
                                            <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.npv_per_wp }}</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10">
                    <div class="panel panel-info">
                        <div class="panel-heading">Net Present Value by O&amp;M Type</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>O&amp;M Type</th>
                                                    <th>Cost per Year</th>
                                                    <th>NPV (Project Life)</th>
                                                    <th>NPV per Wp</th>
                                                    <!--th>Percentage of Total NPV</th-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key in results.npv_by_activity %}
                                                    <tr>
                                                        <td>{{ key.label }}</td>
                                                        <td>$ {{ key.cost_per_year }}</td>
                                                        <td>$ {{ key.npv }}</td>
                                                        <td>$ {{ key.npv_per_wp }}</td>
                                                        <!--td>{{ key.value }}%</td-->
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div id="chart_div"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ report_name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="delete_rpt_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Re-run Modal -->
    <div class="modal fade" id="rerunModal" tabindex="-1" role="dialog" aria-labelledby="rerunModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Refresh Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <p>Re-running will generate a new report and replace existing results of <strong>{{ report_name }}</strong>. Are you sure you want to re-run?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="rerun_report_btn">Re-Run</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript">

    $(document).ready(function() {

        var results = '{{ results }}';
        var count = results['sum_annual_cash_flow'].length;
        document.getElementById("demo").innerHTML = count;
        document.getElementById("annual_cash_flow_td").colSpan = count;
    });

    var django_data = '{{ json_data }}';
    var django_data_quotes = django_data.replace(/&quot;/ig,'"');
    try {
        var obj = JSON.parse(django_data_quotes);
    }
    catch(err){
        document.getElementById("demo").innerHTML = err.message;
    }

    //Google Charts
    google.charts.load('current', {'packages':['corechart']});

    // NPV by O&M Type - Pie Chart
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'O&M Type');
        data.addColumn('number', 'Percentage of Total NPV');
        for (var i in obj['npv_by_activity']) {
            if (obj['npv_by_activity'].hasOwnProperty(i)) {
                data.addRows([
                    [obj['npv_by_activity'][i]['label'], Number(obj['npv_by_activity'][i]['npv'])]
                ]);
            }
        }
        console.log(data);
        var options = {'title':'NPV by O&M Type',
                       'is3D':true,
                       'width':600,
                       'height':500,
                       'pieSliceText': 'percentage',
                        'tooltip':{
                            'text': 'percentage'
                        }};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    </script>

{% endblock %}