{% extends "base.html" %}
{% block head %}Create Report{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="."><!--/report_detail/-->
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Report</div>
                    <div class="panel-body">
                        <p id="demo"></p>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Plant *</label>
                            <div class="col-xs-4">
                                <select class="form-control input-sm" name="plant_ip" id="plant_ip" onchange="populate_cm()" required>
                                <option value="">--Select a Plant--</option>
                                    {% for key in plant_list %}
                                        <option costmodels="{{ key.cost_model }}" value="{{ key.id }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Cost Model *</label>
                            <div class="col-xs-4">
                                <select class="form-control input-sm" name="cm_ip" id="cm_ip" required></select>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary center-block" name='create_plant_report_btn'>Create Plant Report</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

        <!--div style="width: 80%; height: 20px; border-bottom: 1px dotted gray; text-align: center">
              <span style="font-size: 15px; padding: 0 10px;">OR</span>
        </div-->
    <form class="form-horizontal" role="form" method="post" action="."><!--/group_report_detail/-->
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Group Report</div>
                    <div class="panel-body">
                        <p id="demo"></p>
                        <div class="form-group">
                            <label class="control-label col-xs-5">Plant Group *</label>
                            <div class="col-xs-4">
                                <select class="form-control input-sm" name="plant_group_ip" id="plant_group_ip" required>
                                <option disabled selected value="">--Select a Plant Group--</option>
                                    {% for key in plant_group_list %}
                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-primary center-block" name='create_plant_group_report_btn'>Create Plant Group Report</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);

                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function populate_cm() {
            $.ajax({
              type: "POST",
              data: {csrfmiddlewaretoken: getCookie('csrftoken'), costmodel_ids: $('#plant_ip').find(':selected').attr('costmodels')},
              url: "../costmodels-dropdown/",
              success: function(data) {
                $('#cm_ip').empty();
                for (key in data) {$("<option/>", { value: data[key].id, text: data[key].name }).appendTo($("#cm_ip"))}
              }
            });
        }
    </script>

{% endblock %}