{% extends "base.html" %}
{% block head %}Report Detail{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

  <form class="form-horizontal" role="form" id="form" method="post" action="{% url 'report-detail' pk=report_pk %}">{% csrf_token %}
  <div class="row">
      <div class="col-md-12">
          <button
              type="button"
              name="rerunModal"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#rerunModal"
          >Re-Run</button>
          <button
            {% ifequal user_permission "Read" %}
            style="display: none;"
            {% endifequal %}
            type="button"
            name="delModal"
            class="btn btn-danger pull-right"
            data-toggle="modal"
            data-target="#delModal"
          >Delete Report</button>
      </div>
  </div>
  </form>

    <p id="demo"></p>

    <div class="row">
        <div class="col-lg-12">
            <h4>Plant - {{ results.plant_name }}, Cost Model - {{ results.costmodel_name }}</h4>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#summary" data-toggle="tab">Summary View</a></li>
                <li><a href="#detailed" data-toggle="tab">Detailed View</a></li>
                <li {% ifequal failure_analysis_available 0 %} class="hidden" {% endifequal %}><a href="#failure_analysis" data-toggle="tab">Failure Mode Analysis</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" style="padding-top: 10px">
                <div class="tab-pane fade in active" id="summary">
                    <!-- Summary View -->
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Results</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <form class="form-horizontal" role="form" action=".">
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">Annualized O&amp;M Costs:</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.annualized_om_costs }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">Annualized Unit O&amp;M Costs:</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.annualized_unit_om_costs }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">Maximum Reserve Account</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.maximum_reserve_account }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">Net Present Value O&amp;M Costs (Project Life):</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.npv_om_costs }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">Net Present Value (Project Life) per Wp:</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.npv_per_wp }}</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-xs-5">NPV Annual O&amp;M Costs per kWh:</label>
                                                <div class="col-xs-4">
                                                    <label style="text-align: left; font-weight: normal" class="control-label">$ {{ results.final_results.0.npv_annual_om_costs_per_kwh }}</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Annual Cash Flow (Nominal)</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div style="overflow-x:scroll; margin-left:135px;">
                                                <table id="cash_flow_table" class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="position:absolute; width: 150px; left:0;">Year</th>
                                                            {% for key in results.sum_annual_cash_flow %}
                                                                <td>{{ key.year }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th style="position:absolute; width: 150px; left:0;">Annual Cash Flow</th>
                                                            {% for key in results.sum_annual_cash_flow %}
                                                                <td>${{ key.value }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        <tr>
                                                            <th style="position:absolute; width: 150px; left:0;">Reserve Account</th>
                                                            {% for key in results.sum_reserve_account %}
                                                                <td>${{ key.value }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                        <tr>
                                                            <th style="position:absolute; width: 150px; left:0;">COE ($/kWh/year)</th>
                                                            {% for key in results.annual_average %}
                                                                <td>${{ key.annual_average_cash_flow }}</td>
                                                            {% endfor %}
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--div class="col-lg-12">
                                            <div id="annual_cash_flow_chart"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="reserve_account_chart"></div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div id="lcoe_chart"></div>
                                        </div-->
                                        <div class="col-lg-12">
                                            <div id="gc_annual_cash_flow_chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Net Present Value by O&amp;M Type</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <!--th>Legend</th-->
                                                            <th>O&amp;M Type</th>
                                                            <th>Cost per Year</th>
                                                            <th>NPV (Project Life)</th>
                                                            <th>Percentage of Total NPV</th>
                                                            <th>NPV per Wp</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key, value in npv_by_svc_data %}
                                                            <tr>
                                                                <!--td bgcolor={{ value }}></td-->
                                                                <td>{{ key.label }}</td>
                                                                <td>${{ key.cost_per_year }}</td>
                                                                <td>${{ key.npv }}</td>
                                                                <td>{{ key.value }}%</td>
                                                                <td>${{ key.npv_per_wp }}</td>
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--div class="col-lg-10">
                                            <div id="npv_by_om_type"></div>
                                        </div-->
                                        <div class="col-lg-10">
                                            <div id="chart_div"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Net Present Value by O&amp;M Category</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>O&amp;M Category</th>
                                                            <th>Cost per Year</th>
                                                            <th>NPV (Project Life)</th>
                                                            <th>Percentage of Total NPV</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key in results.npv_by_om_category %}
                                                            <tr>
                                                                <td>{{ key.asset_type }}</td>
                                                                <td>${{ key.cost_per_year }}</td>
                                                                <td>${{ key.npv }}</td>
                                                                <td>{{ key.percentage_of_npv }}%</td>
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--div class="col-lg-12">
                                            <div id="npv_by_om_category" style="padding-bottom: 80px; height: 500px"></div>
                                        </div-->
                                        <div class="col-lg-12">
                                            <div id="gc_npv_by_om_category" style="padding-bottom: 80px; height: 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-10">
                            <div class="panel panel-info">
                                <div class="panel-heading">Net Present Value by Service Provider</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Service Provider</th>
                                                            <th>Cost per Year</th>
                                                            <th>NPV (Project Life)</th>
                                                            <th>Percentage of Total NPV</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for key in results.npv_by_service_provider %}
                                                            <tr>
                                                                <td>{{ key.service_provider }}</td>
                                                                <td>${{ key.cost_per_year }}</td>
                                                                <td>${{ key.npv }}</td>
                                                                <td>{{ key.percentage_of_npv }}%</td>
                                                            </tr>
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!--div class="col-lg-12">
                                            <div id="npv_by_sp" style="padding-bottom: 100px; height: 500px"></div>
                                        </div-->

                                        <div class="col-lg-12">
                                            <div id="gc_npv_by_sp" style="padding-bottom: 100px; height: 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="detailed">
                    <!-- Detailed View -->
                    <div style="overflow-x:scroll; margin-left:283px;">
                    <table id ="detailed_results_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <td rowspan="2" style="position:absolute; height: 7.2em; width: 300px; left:0;"><strong>Service Type Name</strong></td>
                                <td rowspan="2"><strong>Service Name</strong></td>
                                <td rowspan="2"><strong>Total Labor Hours per Year</strong></td>
                                <td rowspan="2"><strong>Total Labor Cost</strong></td>
                                <td rowspan="2"><strong>Total Material and Other Cost</strong></td>
                                <td rowspan="2"><strong>Total Cost for Measure</strong></td>
                                <td rowspan="2"><strong>Average Annual Expense</strong></td>
                                <td rowspan="2"><strong>NPV (Project Life)</strong></td>
                                <td rowspan="2"><strong>Percentage of Total NPV</strong></td>
                                <td id="annual_cash_flow_td" colspan="{{ results.sum_annual_cash_flow|length }}"><strong>Annual Cash Flow</strong></td>
                                <td colspan="{{ results.sum_annual_cash_flow|length }}"><strong>Reserve Account</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                {% for key in results.sum_annual_cash_flow %}
                                    <td><strong>Year {{ key.year }}</strong></td>
                                {% endfor %}
                                {% for key in results.sum_annual_cash_flow %}
                                    <td><strong>Year {{ key.year }}</strong></td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {%  for a, b, c, d, e, f, g, h, i, j, k in mapped_results %}
                                <tr>
                                    <td class="table-striped" style="position:absolute; width: 300px; left:0;">{{ h }}</td>
                                    <td>{{ i }}</td>
                                    <td>{{ k }}</td>
                                    <td>${{ a }}</td>
                                    <td>${{ b }}</td>
                                    <td>${{ c }}</td>
                                    <td>${{ d }}</td>
                                    <td>${{ e }}</td>
                                    <td>{{ f }}%</td>
                                    {% for key in g %}
                                        <td>${{ key }}</td>
                                    {% endfor %}
                                    {% for key in j %}
                                        <td>${{ key }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                        </tbody>
                        <tfoot>
                            <tr>
                                <th id="total" style="position:absolute; width: 300px; left:0;">Annual Total:</th>
                                <td colspan="5"></td>
                                <td>${{ results.sum_average_annual_expense.0 }}</td>
                                <td>${{ results.sum_npv_project_life }}</td>
                                <td></td>
                                {% for key in results.sum_annual_cash_flow %}
                                    <td>${{ key.value }}</td>
                                {% endfor %}
                                {% for key in results.sum_reserve_account %}
                                    <td>${{ key.value }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th id="total" style="position:absolute; width: 300px; left:0;">Annual Production:</th>
                                <td colspan="8"></td>
                                {% for key in results.annual_production %}
                                    <td>${{ key.annual_production_cash_flow }}</td>
                                {% endfor %}
                                {% for key in results.annual_production %}
                                    <td>${{ key.annual_production_reserve_account }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th id="total" style="position:absolute; width: 300px; left:0;">Annual Average ($/kWh/year):</th>
                                <td colspan="8"></td>
                                {% for key in results.annual_average %}
                                    <td>{{ key.annual_average_cash_flow }}</td>
                                {% endfor %}
                                {% for key in results.annual_average %}
                                    <td>{{ key.annual_average_reserve_account }}</td>
                                {% endfor %}
                            </tr>
                        </tfoot>
                    </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="failure_analysis">
                    <!-- Failure Analysis View -->
                    {% if not results.dict_failure_mode_analysis %}
                        <p>Failure Analysis Data Unavailable</p>
                    {% else %}
                        <div class="table-responsive">
                            <table id ="failure_analysis_table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td rowspan="2" style="width: 300px"><strong>Service Type Name</strong></td>
                                        <td rowspan="2"><strong>Service Name</strong></td>
                                        <td rowspan="2" style="width: 300px"><strong>Failure Mode</strong></td>
                                        <td rowspan="2"><strong>Cost of Failure</strong></td>
                                        <td colspan="{{ results.sum_annual_cash_flow|length }}"><strong>MLE (Expected) Cost of Failure</strong></td>
                                        <td colspan="{{ results.sum_annual_cash_flow|length }}"><strong>Annual Cash Flow</strong></td>
                                        <td colspan="{{ results.sum_annual_cash_flow|length }}"><strong>Service cost less than expected energy loss</strong></td>
                                    </tr>
                                    <tr>
                                        <!--td colspan="4"></td-->
                                        {% for key in results.sum_annual_cash_flow %}
                                            <td><strong>Year {{ key.year }}</strong></td>
                                        {% endfor %}
                                        {% for key in results.sum_annual_cash_flow %}
                                            <td><strong>Year {{ key.year }}</strong></td>
                                        {% endfor %}
                                        {% for key in results.sum_annual_cash_flow %}
                                            <td><strong>Year {{ key.year }}</strong></td>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {%  for k in results.dict_failure_mode_analysis %}
                                        <tr>
                                            <td>{{ k.service_type_name }}</td>
                                            <td>{{ k.service_name }}</td>
                                            <td>{{ k.failure_mode }}</td>
                                            <td>${{ k.cost_of_failure }}</td>
                                            {% for cof in k.expected_cost_of_failure %}
                                                <td>${{ cof }}</td>
                                            {% endfor %}
                                            {% for acf in k.annual_cash_flow %}
                                                <td>${{ acf }}</td>
                                            {% endfor %}
                                            {% for f in k.flag %}
                                                <td>{% ifequal f 1 %} Yes
                                                    {% else %} No
                                                    {% endifequal %}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/report_detail/{{ report_pk }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ report_name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="delete_rpt_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Re-run Modal -->
    <div class="modal fade" id="rerunModal" tabindex="-1" role="dialog" aria-labelledby="rerunModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Refresh Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <p>Re-running will generate a new report and replace existing results of <strong>{{ report_name }}</strong>. Are you sure you want to re-run?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="rerun_report_btn">Re-Run</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    </div>

    <script type="text/javascript">

    $(document).ready(function() {
        /*
        $('#detailed_results_table', '#failure_analysis_table').DataTable({
            responsive: true,
            paging: false
            /*
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            fixedColumns: true
            */
        /*
        });
        */
        /*
        $('#cash_flow_table').DataTable({
            paging: false,
            info: false,
            searching: false,
            ordering: false
            /*
            fixedHeader: true,
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true

            fixedColumns: true
            */
        /*
        });
        */
        var results = '{{ results }}';
        var count = results['sum_annual_cash_flow'].length;
        document.getElementById("demo").innerHTML = count;
        document.getElementById("annual_cash_flow_td").colSpan = count;
    });

    var django_data = '{{ json_data }}';
    var django_data_quotes = django_data.replace(/&quot;/ig,'"');
    try {
        var obj = JSON.parse(django_data_quotes);
    }
    catch(err){
        document.getElementById("demo").innerHTML = err.message;
    }
    /*
    new Morris.Bar({
        element: 'annual_cash_flow_chart',
        data: obj['sum_annual_cash_flow'],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Annual Cash Flow'],
        yLabelFormat: function (y)
                        {
                            return '$' + y;
                        }
    });

    new Morris.Line({
        element: 'reserve_account_chart',
        data: obj['sum_reserve_account'],
        xkey: 'year',
        ykeys: ['value'],
        labels: ['Reserve Account'],
        yLabelFormat: function (y)
                        {
                            return '$' + y;
                        },
        lineWidth: 0
    });

    new Morris.Line({
        element: 'lcoe_chart',
        data: obj['annual_average'],
        xkey: 'year',
        ykeys: ['annual_average_cash_flow'],
        labels: ['LCOE']
    });

    new Morris.Donut({
        element: 'npv_by_om_type',
        data:obj['npv_by_activity'],
        labels: ['Series A', 'Series B', 'C'],
        colors: ["#E45D24", "#0B62A4", "#F0AD4E"],
        formatter:
                function (y)
                {
                    return y + '%'
                }
    });

    new Morris.Bar({
        element: 'npv_by_om_category',
        data: obj['npv_by_om_category'],
        xkey: 'om_category',
        ykeys: ['percentage_of_npv'],
        labels: ['Percentage of Total NPV'],
        xLabelAngle: 60,
        yLabelFormat: function (y)
                        {
                            return y + '%';
                        },
        formatter:
                function (y)
                {
                    return y + '%'
                }
    });

    new Morris.Bar({
        element: 'npv_by_sp',
        data: obj['npv_by_service_provider'],
        xkey: 'service_provider',
        ykeys: ['percentage_of_npv'],
        labels: ['Percentage of Total NPV'],
        xLabelAngle: 60,
        yLabelFormat: function (y)
                        {
                            return y + '%';
                        },
        formatter:
                function (y)
                {
                    return y + '%'
                }
    });
    */
    //Google Charts
    google.charts.load('current', {'packages':['corechart']});

    // NPV by O&M Type - Pie Chart
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'O&M Type');
        data.addColumn('number', 'Percentage of Total NPV');
        for (var i in obj['npv_by_activity']) {
            if (obj['npv_by_activity'].hasOwnProperty(i)) {
                data.addRows([
                    [obj['npv_by_activity'][i]['label'], Number(obj['npv_by_activity'][i]['value'])]
                ]);
            }
        }
        console.log(data);
        var options = {'title':'NPV by O&M Type',
                       'is3D':true,
                       'width':600,
                       'height':500,
                       'pieSliceText': 'percentage',
                        'tooltip':{
                            'text': 'percentage'
                        }};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
    // Annual Cash Flow - Bar, Scatter and Line Chart
    google.charts.setOnLoadCallback(drawChart1);

    function drawChart1() {

        var data1 = [['Year'],
            ['Annual Cash Flow'],
            ['Reserve Account'],
            ['COE']];

        for (var i in obj['sum_annual_cash_flow']) {
            if (obj['sum_annual_cash_flow'].hasOwnProperty(i)) {
                data1[0].push(obj['sum_annual_cash_flow'][i]['year']);
                data1[1].push(Number(obj['sum_annual_cash_flow'][i]['value']));
            }
        }
        for (var j in obj['sum_reserve_account']){
            if(obj['sum_reserve_account'].hasOwnProperty(j)){
                data1[2].push(Number(obj['sum_reserve_account'][j]['value']));
            }
        }
        for (var k in obj['annual_average']){
            if(obj['annual_average'].hasOwnProperty(k)){
                data1[3].push(Number(obj['annual_average'][k]['annual_average_cash_flow']));
            }
        }
        console.log(data1);
        transpose = function(a) {
          var w = a.length ? a.length : 0,
            h = a[0] instanceof Array ? a[0].length : 0;
          if(h === 0 || w === 0) { return []; }
          var i, j, t = [];
          for(i=0; i<h; i++) {
            t[i] = [];
            for(j=0; j<w; j++) {
              t[i][j] = a[j][i];
            }
          }

          return t;
        };
        var data = transpose(data1);
        console.log(data);
        var options = {//'title':'Annual Cash Flow',
                       'hAxis': {title: 'Year'},
                       vAxes: {
                            0: {
                              title:'Annual Cash Flow & Reserve Account \n ($/year)',
                              format: '$ #,###,###.##'
                            },
                           1: {
                              title:'COE \n ($/kWh/year)',
                              format: '$ #.#### '
                            }
                          },
                       'seriesType': 'bars',
                       'series': {
                           1: {type: 'scatter', targetAxisIndex: 0, pointSize: 15},
                           2: {
                               type: 'line', targetAxisIndex: 1,
                               pointShape: { type: 'star', sides: 4},
                               pointSize: 20}
                       },
                       'height': 500};

        var chart = new google.visualization.ComboChart(document.getElementById('gc_annual_cash_flow_chart'));
        chart.draw(google.visualization.arrayToDataTable(data), options);
    }

    // NPV by O&M Category - Bar Chart
    google.charts.setOnLoadCallback(drawChart2);

    function drawChart2() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'O&M Category');
        data.addColumn('number', 'Percentage of \n Total NPV (%)');
        for (var i in obj['npv_by_om_category']) {
            if (obj['npv_by_om_category'].hasOwnProperty(i)) {
                data.addRows([
                    [obj['npv_by_om_category'][i]['asset_type'], Number(obj['npv_by_om_category'][i]['percentage_of_npv'])]
                ]);
            }
        }
        console.log(data);
        var options = {'title':'NPV by O&M Category',
                       'is3D':true,
                        vAxis: {title:'O&M Category'},
                        hAxis: {title:'Percentage of Total NPV \n (%)'},
                        chartArea: {left:200, width: 400}};

        var chart = new google.visualization.BarChart(document.getElementById('gc_npv_by_om_category'));
        chart.draw(data, options);
    }

    // NPV by Service Provider - Bar Chart
    google.charts.setOnLoadCallback(drawChart3);

    function drawChart3() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Service Provider');
        data.addColumn('number', 'Percentage of \n Total NPV (%)');
        for (var i in obj['npv_by_service_provider']) {
            if (obj['npv_by_service_provider'].hasOwnProperty(i)) {
                data.addRows([
                    [obj['npv_by_service_provider'][i]['service_provider'], Number(obj['npv_by_service_provider'][i]['percentage_of_npv'])]
                ]);
            }
        }
        console.log(data);

        var options = {'title':'NPV by Service Provider',
                       'is3D':true,
                        vAxis: {title:'Service Provider'},
                        hAxis: {title:'Percentage of Total NPV \n (%)'},
                        //width: 600,
                        chartArea: {left:200, width: 400} };

        var chart = new google.visualization.BarChart(document.getElementById('gc_npv_by_sp'));
        chart.draw(data, options);
    }

    </script>

{% endblock %}