{% extends "base.html" %}
{% block head %}Create Service{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="." style="padding-bottom: 20px">{% csrf_token %}
        <button type="submit" class="btn btn-primary" name="service_create_btn">Create Service</button>
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Service Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Name *</label>
                                <div class="col-xs-4">
                                    <input class="form-control input-sm" maxlength="254" name="service_name_ip" required>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service"
                                   data-content="An O&M Activity">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Description</label>
                                <div class="col-xs-4">
                                    <textarea class="form-control input-sm" rows="2" maxlength="312" name="service_desc_ip"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">O&amp;M Type *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="om_type_ip">
                                        {% for key in om_types %}
                                            <option  value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="O&M Type"
                                   data-content="The type of O&M procedure">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Type *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="service_type_ip">
                                        {% for key in service_types %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service Type"
                                   data-content="The type of O&M activity">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Asset Type *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="asset_type_ip">
                                        {% for key in asset_types %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Asset Type"
                                   data-content="The physical and informational assets associated with an O&M Plan.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Service Values Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Values Name *</label>
                                <div class="col-xs-4">
                                    <input class="form-control input-sm" name="service_values_name_ip" maxlength="45" required>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service Values"
                                   data-content="The associated set of values for the Service that is being created.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Values Description</label>
                                <div class="col-xs-4">
                                    <textarea class="form-control input-sm" rows="2" maxlength="254" name="service_values_desc_ip"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Applicable Unit *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="app_unit_ip">
                                        {% for key in applicable_unit %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Material Covered by Warranty *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="matl_warranty_ip">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Labor Covered by Warranty *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="lab_warranty_ip">
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Warranty Type *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="warranty_type_ip">
                                        {% for key in warranty_types %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Warranty Type"
                                   data-content="The category of Warranty with regard to product or service being warranted.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Provider *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="service_prov_ip" id="service_prov_ip" onchange="populate_labor_rate()">
                                        {% for key in service_providers %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Labor Rate *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="lab_rate_ip" id="lab_rate_ip">
                                        {% for key in labor_rates %}
                                            {% ifequal key.service_provider 1 %}
                                                <option value="{{ key.id }}">{{ key.name }} - ${{ key.rate_per_hour }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Mean Interval *</label>
                                <div class="col-xs-4">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" name="interval_ip" required>
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Failure Distribution Type *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="distribution_ip" id="distribution_ip" onchange="disable_fields()">
                                        {% for key in failure_distributions %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Failure Distribution Type"
                                   data-content="The description of the changes in the
                                   number of failures in a PV System over time.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Shape Factor</label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control input-sm" name="shape_factor_ip" id="shape_factor_ip">
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Shape Factor"
                                   data-content="A Weibull Distribution parameter.
                                   Required if Weibull is selected">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <!--div class="form-group">
                                <label class="control-label col-xs-5">Number of Units</label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control input-sm" name="units_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Labor Hours per Unit</label>
                                <div class="col-xs-4">
                                    <input type="number" class="form-control input-sm" name="lab_hours_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Material and other costs per unit</label>
                                <div class=" col-xs-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control input-sm" name="matl_cost_ip" required>
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div>
                            </div-->
                            <div class="form-group">
                                <label class="control-label col-xs-4">Notes</label>
                                <div class="col-xs-4">
                                    <input class="form-control input-sm" name="notes_ip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Reference</label>
                                <div class="col-xs-4">
                                    <input class="form-control input-sm" name="reference_ip">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Associated Cost Models <i>(Optional)</i></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Cost Models</label>

                            <div class="col-xs-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Cost Models</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Cost Models" name="available_cm_ip" id="available_cm_ip" >
                                            {% for key in costmodels %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                <button type="button" class="btn btn-default" onclick="add_selected(available_cm_ip, cm_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_selected(cm_ip, available_cm_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(available_cm_ip, cm_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(cm_ip, available_cm_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                            </div>

                            <div class="col-xs-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Selected Cost Models</div>
                                    <div class="panel-body" style="padding: 0">
                                        <select style="border: none" multiple="multiple" title="Selected Cost Models" size="15" class="form-control input-sm" name="cm_ip" id="cm_ip">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" name="service_create_btn">Create Service</button>
        </form>

    <script type="text/javascript">

    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    // Service Provider Select
    var sp_select = document.getElementById("service_prov_ip");
    // Labor Rate Select
    var lr_select = document.getElementById("lab_rate_ip");
    var distribution_select = document.getElementById("distribution_ip");

    var lr_list = '{{ labor_rates_raw }}';
    var lr_list_quotes = lr_list.replace(/&quot;/ig,'"');
    var labor_rates = JSON.parse(lr_list_quotes);

    disable_fields();

    function removeOptions(selectbox)
    {
        var i;
        for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
        {
            selectbox.remove(i);
        }
    }

    function populate_labor_rate() {

        removeOptions(lr_select);
        var selected_sp = sp_select.options[sp_select.selectedIndex].value;

        for (var i = 0; i < labor_rates.length; i++) {
            if (labor_rates[i]['service_provider'] == selected_sp){
                var opt = document.createElement("option");
                opt.value= labor_rates[i]['id'];
                opt.innerHTML = labor_rates[i]['name'] +'- $'+ labor_rates[i]['rate_per_hour'];
                lr_select.appendChild(opt);
            }
        }
    }

    function disable_fields(){
        var selected_distribution = distribution_select.options[distribution_select.selectedIndex].innerHTML;

        if (selected_distribution == 'Interval'){
            $("#shape_factor_ip").prop("disabled", true);
        }
        else{
            $("#shape_factor_ip").prop("disabled", false);
            $("#shape_factor_ip").attr("required", true);
        }
    }

    $('form').submit(function () {
        $('#cm_ip option').prop("selected", "selected");
    });

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        //$('#available_plants_ip :selected').each(function(i, selected) {
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();
    }

    function add_all(from, to) {

        //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
    }

    </script>



{% endblock %}