{% extends "base.html" %}
{% block head %}Service Detail
    <h4>{{ service_detail.service.name }} - {{ service_detail.name }}</h4>{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong>{% if new_service_value_id != None %}<a href="/organizations/{{ org_id }}/services/{{ new_service_value_id }}" class="alert-link">View Service</a>{% endif %}</div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="/organizations/{{ service_detail.organization.id }}/services/{{ service_detail.id }}" style="padding-bottom: 20px">{% csrf_token %}

        <button
                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                type="submit" class="btn btn-primary" name="svc_save_btn"
                {%  if service_detail.organization.name != 'Global' and service_detail.defined_by.name == 'Best Practices'%}
                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled for Default Service"
                {% endif %}>
            Update Service
        </button>
        <button
                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                type="button" class="btn btn-primary" name="sasModal" data-toggle="modal" data-target="#sasModal">
            Copy Service
        </button>
        <button
                {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
                type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"
                {%  if service_detail.organization.name != 'Global' and service_detail.defined_by.name == 'Best Practices' %}
                disabled data-toggle="tooltip" data-placement="bottom" title="Disabled for Default Service"
                {% endif %}>
            Delete Service
        </button>

        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Service Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <input class="hidden" name="service_id_ip" id="service_id_ip" value="{{ service_detail.service.id }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Name *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service.name }}</label>
                                {% else %}
                                    <input class="form-control input-sm" maxlength="254" name="service_name_ip" id="service_name_ip" value="{{ service_detail.service.name }}" required>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service"
                                   data-content="An O&amp;M Activity">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Description</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service.description }}</label>
                                {% else %}
                                    <textarea class="form-control input-sm" maxlength="312" rows="2" name="service_desc_ip" id="service_desc_ip">{{ service_detail.service.description }}</textarea>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">O&amp;M Type *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service.om_type.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="om_type_ip" id="om_type_ip">
                                        {% for key in om_types %}
                                            <option value="{{ key.id }}"
                                                    {% ifequal key.id service_detail.service.om_type.id %}
                                                    selected="selected" {% endifequal %}>
                                                {{ key.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="O&amp;M Type"
                                   data-content="The type of O&amp;M procedure">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Type *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service.service_type.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="service_type_ip" id="service_type_ip">
                                        {% for key in service_types %}
                                            <option value="{{ key.id }}" {% ifequal key.id service_detail.service.service_type.id %}
                                                    selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service Type"
                                   data-content="The type of O&amp;M activity">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Asset Type *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service.asset_type.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="asset_type_ip" id="asset_type_ip">
                                        {% for key in asset_types %}
                                            <option value="{{ key.id }}" {% ifequal key.id service_detail.service.asset_type.id %}
                                                    selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Asset Type"
                                   data-content="The physical and informational assets associated with an O&amp;M Plan.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Service Values Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Values Name *</label>
                                <div class="col-xs-4">
                                    {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.name }}</label>
                                {% else %}
                                    <input class="form-control input-sm" name="service_values_name_ip" maxlength="45" id="service_values_name_ip" value="{{ service_detail.name }}" required>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Service Values"
                                   data-content="The associated set of values for the Service that is being created.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Values Description</label>
                                <div class="col-xs-4">
                                    {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.description }}</label>
                                {% else %}
                                    <textarea class="form-control input-sm" rows="2" maxlength="254" name="service_values_desc_ip" id="service_values_desc_ip">{{ service_detail.description }}</textarea>
                                {% endifequal %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Applicable Unit *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.applicable_unit.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="app_unit_ip" id="app_unit_ip">
                                        <option value="" {% ifequal "null" service_detail.applicable_unit %}
                                                    selected="selected"
                                                    {% endifequal %}>----------</option>
                                        {% for key in applicable_unit %}
                                            <option value="{{ key.id }}"
                                                    {% ifequal key.id service_detail.applicable_unit.id %}
                                                    selected="selected"
                                                    {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Material Covered by Warranty *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">
                                        {% ifequal 1 service_detail.material_warranty_covered %} Yes {% else %} No {% endifequal %}
                                    </label>
                                {% else %}
                                    <select class="form-control input-sm" name="matl_warranty_ip" id="matl_warranty_ip">
                                        <option value="1" {% ifequal 1 service_detail.material_warranty_covered %} selected="selected" {% endifequal %}>Yes</option>
                                        <option value="0" {% ifequal 0 service_detail.material_warranty_covered %} selected="selected" {% endifequal %}>No</option>
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Labor Covered by Warranty *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">
                                        {% ifequal 1 service_detail.labor_warranty_covered %} Yes {% else %} No {% endifequal %}
                                    </label>
                                {% else %}
                                    <select class="form-control input-sm" name="lab_warranty_ip" id="lab_warranty_ip">
                                        <option value="1" {% ifequal 1 service_detail.labor_warranty_covered %} selected="selected" {% endifequal %}>Yes</option>
                                        <option value="0" {% ifequal 0 service_detail.labor_warranty_covered %} selected="selected" {% endifequal %}>No</option>
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Warranty Type *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.warranty_type.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="warranty_type_ip" id="warranty_type_ip">
                                        {% for key in warranty_types %}
                                            <option value="{{ key.id }}" {% ifequal key.id service_detail.warranty_type.id %}
                                                    selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Warranty Type"
                                   data-content="The category of Warranty with regard to product or service being warranted.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Service Provider *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.service_provider.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="service_prov_ip" id="service_prov_ip" onchange="populate_labor_rate()">
                                        {% for key in service_providers %}
                                            <option value="{{ key.id }}" {% ifequal key.id service_detail.service_provider.id %}
                                                    selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Labor Rate *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.labor_rate.name }} - ${{ service_detail.labor_rate.rate_per_hour }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="lab_rate_ip" id="lab_rate_ip">
                                        {% for key in labor_rates %}
                                            {% ifequal key.service_provider service_detail.service_provider.id %}
                                                <option value="{{ key.id }}"
                                                        {% ifequal key.id service_detail.labor_rate.id %}
                                                            selected="selected"
                                                        {% endifequal %}>{{ key.name }} - ${{ key.rate_per_hour }}
                                                </option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Mean Interval *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.mean_interval }}</label>
                                {% else %}
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" name="interval_ip" id="interval_ip" value="{{ service_detail.mean_interval }}" required>
                                        <span class="input-group-addon">years</span>
                                    </div>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Failure Distribution Type *</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.failure_distribution_type.name }}</label>
                                {% else %}
                                    <select class="form-control input-sm" name="distribution_ip" id="distribution_ip" onchange="disable_fields()">
                                        {% for key in failure_distributions %}
                                            <option value="{{ key.id }}" {% ifequal key.id service_detail.failure_distribution_type.id %}
                                                    selected="selected" {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Shape Factor</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.shape_factor }}</label>
                                {% else %}
                                    <input type="number" step="any" class="form-control input-sm" name="shape_factor_ip" id="shape_factor_ip" value="{{ service_detail.shape_factor }}" required>
                                {% endifequal %}
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Shape Factor"
                                   data-content="A Weibull Distribution parameter.
                                   Required if Weibull is selected">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <!--div class="form-group">
                                <label class="control-label col-xs-5">Number of Units</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.no_of_units }}</label>
                                {% else %}
                                    <input type="number" step="any" class="form-control input-sm" name="units_ip" id="units_ip" value="{{ service_detail.no_of_units }}" required>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Labor Hours per Unit</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.labor_hours_per_unit }}</label>
                                {% else %}
                                    <input type="number" step="any" class="form-control input-sm" name="lab_hours_ip" id="lab_hours_ip" value="{{ service_detail.labor_hours_per_unit }}" required>
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">Material and other costs per unit</label>
                                <div class=" col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.material_cost_per_unit }}</label>
                                {% else %}
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" step="any" class="form-control input-sm" name="matl_cost_ip" id="matl_cost_ip" value="{{ service_detail.material_cost_per_unit }}" required>
                                    </div>
                                {% endifequal %}
                                </div>
                            </div-->
                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Units</label>
                                <div class="col-xs-4">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.number_of_units }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Labor Hours per Unit</label>
                                <div class="col-xs-4">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.labor_hours_per_unit }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Material and other costs per unit</label>
                                <div class=" col-xs-4">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.material_cost_per_unit }}</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Notes</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.notes }}</label>
                                {% else %}
                                    <input class="form-control input-sm" name="notes_ip" id="notes_ip" value="{{ service_detail.notes }}">
                                {% endifequal %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Reference</label>
                                <div class="col-xs-4">
                                {%  ifequal service_detail.name "Default" %}
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ service_detail.reference }}</label>
                                {% else %}
                                    <input class="form-control input-sm" name="reference_ip" id="reference_ip" value="{{ service_detail.reference }}">
                                {% endifequal %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Associated Cost Models <i>(Optional)</i></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-xs-2 control-label">Cost Models</label>

                            <div class="col-xs-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Available Cost Models</div>
                                    <div class="panel-body" style="padding: 0">
                                    {%  ifequal service_detail.name "Default" %}
                                        <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Cost Models" name="available_cm_ip" id="available_cm_ip" disabled>
                                        </select>
                                    {% else %}
                                        <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Cost Models" name="available_cm_ip" id="available_cm_ip">
                                        </select>
                                    {% endifequal %}
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                <button type="button" class="btn btn-default" onclick="add_selected(available_cm_ip, cm_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_selected(cm_ip, available_cm_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(available_cm_ip, cm_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                <button type="button" class="btn btn-default" onclick="add_all(cm_ip, available_cm_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                            </div>

                            <div class="col-xs-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">Selected Cost Models</div>
                                    <div class="panel-body" style="padding: 0">
                                    {%  ifequal service_detail.name "Default" %}
                                        <select style="border: none" multiple="multiple" title="Selected Cost Models" size="15" class="form-control input-sm" name="cm_ip" id="cm_ip" disabled>
                                            {%  for key in costmodels %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select style="border: none" multiple="multiple" title="Selected Cost Models" size="15" class="form-control input-sm" name="cm_ip" id="cm_ip">
                                            {%  for key in costmodels %}
                                            <!--Dont display the default costmodels which are defined_by 1-->
                                                {% ifequal key.defined_by 2 %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endifequal %}
                                            {% endfor %}
                                        </select>
                                    {% endifequal %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <button
            {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
            type="submit" class="btn btn-primary" name="svc_save_btn"
            {%  if service_detail.organization.name != 'Global' and service_detail.defined_by.name == 'Best Practices' %}
            disabled data-toggle="tooltip" data-placement="bottom" title="Disabled for Default Service"
            {% endif %}>
        Update Service
    </button>
    <button
            {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
            type="button" class="btn btn-primary" name="sasModal" data-toggle="modal" data-target="#sasModal">
        Copy Service
    </button>
    <button
            {% ifequal group "read_user" %} style="display: none;" {% endifequal %}
            type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal"
            {%  if service_detail.organization.name != 'Global' and service_detail.defined_by.name == 'Best Practices' %}
            disabled data-toggle="tooltip" data-placement="bottom" title="Disabled for Default Service"
            {% endif %}>
        Delete Service
    </button>
    </form>


    <!-- Save As Modal -->
    <div class="modal fade" id="sasModal" tabindex="-1" role="dialog" aria-labelledby="sasModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Save As...</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ service_detail.organization.id }}/services/{{ service_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Service Values Name</label>
                        <div class="col-xs-4">
                            <input class="form-control input-sm" name="service_values_name_ip" id="service_values_name_ip" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">Service Values Description</label>
                        <div class="col-xs-4">
                            <textarea class="form-control input-sm" rows="2" name="service_values_desc_ip" id="service_values_desc_ip"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="svc_save_as_btn">Copy</button>
                </div>
            </form>
            </div>
        </div>
    </div>


    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Service</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ service_detail.organization.id }}/services/{{ service_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ service_detail.name }}</strong> for <strong> {{ service_detail.service.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="svc_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    // Service Provider Select
    var sp_select = document.getElementById("service_prov_ip");
    // Labor Rate Select
    var lr_select = document.getElementById("lab_rate_ip");
    var distribution_select = document.getElementById("distribution_ip");

    var lr_list = '{{ labor_rates_raw }}';
    var lr_list_quotes = lr_list.replace(/&quot;/ig,'"');
    var labor_rates = JSON.parse(lr_list_quotes);

    disable_fields();

    function removeOptions(selectbox)
    {
        var i;
        for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
        {
            selectbox.remove(i);
        }
    }

    function populate_labor_rate() {

        removeOptions(lr_select);
        var selected_sp = sp_select.options[sp_select.selectedIndex].value;

        for (var i = 0; i < labor_rates.length; i++) {
            if (labor_rates[i]['service_provider'] == selected_sp){
                var opt = document.createElement("option");
                opt.value= labor_rates[i]['id'];
                opt.innerHTML = labor_rates[i]['name'] +'- $'+ labor_rates[i]['rate_per_hour'];
                lr_select.appendChild(opt);
            }
        }
    }

    function disable_fields(){
        var selected_distribution = distribution_select.options[distribution_select.selectedIndex].innerHTML;

        if (selected_distribution == 'Interval'){
            $("#shape_factor_ip").prop("disabled", true);
        }
        else{
            $("#shape_factor_ip").prop("disabled", false);
            $("#shape_factor_ip").attr("required", true);
        }
    }
    $('form').submit(function () {
        $('#cm_ip option').prop("selected", "selected");
    });

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        //$('#available_plants_ip :selected').each(function(i, selected) {
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();
    }

    function add_all(from, to) {

        //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
    }

    </script>


{% endblock %}
