{% extends "base.html" %}
{% block head %}Services{% endblock %}
{% block content %}

<style type="text/css">
.table>thead>tr>th {
        vertical-align: top;
}

</style>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="row">

        <!--div class="col-lg-8">
            <form class="form-horizontal" role="form" method="get" action="/organizations/{{ org_id }}/services/">
                <div class="form-group">
                    <div class="col-xs-4">
                        <select class="form-control input-sm" name="default" id="default" onchange="this.form.submit()">
                            <option value="true" {% ifequal default 'true' %} selected="selected" {% endifequal %}>Include Best Practice Defaults</option>
                            <option value="false" {% ifequal default 'false' %} selected="selected" {% endifequal %}>Exclude Best Practice Defaults</option>
                        </select>
                    </div>
                </div>
            </form>
        </div-->


        <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#summary" data-toggle="tab">Summary View</a></li>
                <li><a href="#detailed" data-toggle="tab">Detailed View</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content" style="padding-top: 10px">
                <div class="tab-pane fade in active" id="summary">
                    <!-- Summary View -->
                    <div class="table-responsive">
                    <table id ="summary_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="width: 300px"><strong>Service Name</strong></th>
                                <th><strong>Service Defined By</strong></th>
                                <th><strong>Service Values Name</strong></th>
                                <th><strong>Service Values Defined By</strong></th>
                                <th><strong>O&amp;M Type</strong></th>
                                <th><strong>Service Type</strong></th>
                                <th><strong>Asset Type</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in service_list %}
                                <tr onclick="location.href='/organizations/{{ key.organization.id }}/services/{{ key.id }}'" style="cursor: pointer;">
                                    <td title="{{ key.service.description}}">{{ key.service.name }}</td>
                                    <td>{{ key.service.defined_by.name }}</td>
                                    <td title="{{ key.description}}">{{ key.name }}</td>
                                    <td>{{ key.defined_by.name }}</td>
                                    <td>{{ key.service.om_type.name }}</td>
                                    <td>{{ key.service.service_type.name }}</td>
                                    <td>{{ key.service.asset_type.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="detailed">
                    <!-- Detailed View -->
                    <div class="table-responsive">
                    <table id ="detailed_table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th><strong>Service Name</strong></th>
                                <th><strong>Service Description</strong></th>
                                <th><strong>Service Defined By</strong></th>
                                <th><strong>Service Values Name</strong></th>
                                <th><strong>Service Values Description</strong></th>
                                <th><strong>Service Values Defined By</strong></th>
                                <th><strong>O&amp;M Type</strong></th>
                                <th><strong>Service Type</strong></th>
                                <th><strong>Asset Type</strong></th>
                                <th><strong>Material Covered by Warranty</strong></th>
                                <th><strong>Labor Covered by Warranty</strong></th>
                                <th><strong>Warranty Type</strong></th>
                                <th><strong>Applicable Unit</strong></th>
                                <th><strong>Service Provider</strong></th>
                                <th><strong>Labor Rate/Hour</strong></th>
                                <th><strong>Overhead Multiplier</strong></th>
                                <th><strong>Mean Interval</strong></th>
                                <th><strong>Shape Factor</strong></th>
                                <th><strong>Failure Distribution Type</strong></th>
                                <th><strong>Approximate Number of Units</strong></th>
                                <th><strong>Labor Hours/Unit</strong></th>
                                <th><strong>Material/Other Cost per Unit</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key in service_list %}
                                <tr onclick="location.href='/organizations/{{ key.organization.id }}/services/{{ key.id }}'" style="cursor: pointer;">

                                    <td title="{{ key.service.description}}">{{ key.service.name }}</td>
                                    <td>{{ key.service.description }}</td>
                                    <td>{{ key.service.defined_by.name }}</td>
                                    <td title="{{ key.description}}">{{ key.name }}</td>
                                    <td>{{ key.description }}</td>
                                    <td>{{ key.defined_by.name }}</td>
                                    <td>{{ key.service.om_type.name }}</td>
                                    <td>{{ key.service.service_type.name }}</td>
                                    <td>{{ key.service.asset_type.name }}</td>
                                    <td>{% ifequal key.material_warranty_covered 1 %} Yes
                                        {% else %}No
                                        {% endifequal %}</td>
                                    <td>{% ifequal key.labor_warranty_covered 1 %} Yes
                                        {% else %}No
                                        {% endifequal %}</td>
                                    <td>{{ key.warranty_type.name }}</td>
                                    <td>{{ key.applicable_unit.name }}</td>
                                    <td>{{ key.service_provider.name }}</td>
                                    <td>{{ key.labor_rate.rate_per_hour }}</td>
                                    <td>{{ key.labor_rate.overhead_multiplier }}</td>
                                    <td>{{ key.mean_interval }}</td>
                                    <td>{{ key.shape_factor }}</td>
                                    <td>{{ key.failure_distribution_type.name }}</td>
                                    <td>{{ key.number_of_units }}</td>
                                    <td>{{ key.labor_hours_per_unit }}</td>
                                    <td>{{ key.material_cost_per_unit }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script>
    $(document).ready(function() {
        $('#summary_table').DataTable({
            responsive: true
        });
        $('#detailed_table').DataTable({
            responsive: true
            /*
            "columns": [
                null,
                { "width": "300px" },
                null,
                null,
                null
              ]

            scrollY: "300px",
            sScrollXInner: '150%',
            scrollX :        true,
            scrollCollapse: true,
            paging:         true,
            fixedColumns: {
                leftColumns: 4,
                heightMatch: 'auto'
            }
            */
        });
    });
    </script>

{% endblock %}
