.navbar-custom {
  background-color: #d9edf7;
  border-color: #337ab7;
}
.navbar-custom .navbar-brand {
  color: #337ab7;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-text {
  color: #337ab7;
}
.navbar-custom .navbar-nav > li > a {
  color: #337ab7;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #d9edf7;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #337ab7;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #337ab7;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.navbar-custom .navbar-toggle {
  border-color: #337ab7;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #337ab7;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #337ab7;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #337ab7;
}
.navbar-custom .navbar-link {
  color: #337ab7;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
  background-color: #337ab7;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #337ab7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #337ab7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #337ab7;
  }
}