.navbar-custom1 {
  background-color: #d9edf7;
  border-color: #bee0f1;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#d9edf7));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #d9edf7, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #d9edf7 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #d9edf7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffd9edf7', GradientType=0);
}
.navbar-custom1 .navbar-brand {
  color: #337ab7;
}
.navbar-custom1 .navbar-brand:hover,
.navbar-custom1 .navbar-brand:focus {
  color: #285f8f;
  background-color: transparent;
}
.navbar-custom1 .navbar-text {
  color: #337ab7;
}
.navbar-custom1 .navbar-nav > li:last-child > a {
  border-right: 1px solid #bee0f1;
}
.navbar-custom1 .navbar-nav > li > a {
  color: #337ab7;
  border-left: 1px solid #bee0f1;
}
.navbar-custom1 .navbar-nav > li > a:hover,
.navbar-custom1 .navbar-nav > li > a:focus {
  color: #337ab7;
  background-color: transparent;
}
.navbar-custom1 .navbar-nav > .active > a,
.navbar-custom1 .navbar-nav > .active > a:hover,
.navbar-custom1 .navbar-nav > .active > a:focus {
  color: #337ab7;
  background-color: #bee0f1;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bee0f1), to(#e8f4fa));
  background-image: -webkit-linear-gradient(top, #bee0f1, 0%, #e8f4fa, 100%);
  background-image: -moz-linear-gradient(top, #bee0f1 0%, #e8f4fa 100%);
  background-image: linear-gradient(to bottom, #bee0f1 0%, #e8f4fa 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbee0f1', endColorstr='#ffe8f4fa', GradientType=0);
}
.navbar-custom1 .navbar-nav > .disabled > a,
.navbar-custom1 .navbar-nav > .disabled > a:hover,
.navbar-custom1 .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom1 .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom1 .navbar-toggle:hover,
.navbar-custom1 .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom1 .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom1 .navbar-collapse,
.navbar-custom1 .navbar-form {
  border-color: #bcdff1;
}
.navbar-custom1 .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom1 .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #337ab7;
  border-bottom-color: #337ab7;
}
.navbar-custom1 .navbar-nav > .open > a,
.navbar-custom1 .navbar-nav > .open > a:hover,
.navbar-custom1 .navbar-nav > .open > a:focus {
  background-color: #bee0f1;
  color: #337ab7;
}
.navbar-custom1 .navbar-nav > .open > a .caret,
.navbar-custom1 .navbar-nav > .open > a:hover .caret,
.navbar-custom1 .navbar-nav > .open > a:focus .caret {
  border-top-color: #337ab7;
  border-bottom-color: #337ab7;
}
.navbar-custom1 .navbar-nav > .dropdown > a .caret {
  border-top-color: #337ab7;
  border-bottom-color: #337ab7;
}
@media (max-width: 767) {
  .navbar-custom1 .navbar-nav .open .dropdown-menu > li > a {
    color: #337ab7;
  }
  .navbar-custom1 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom1 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #337ab7;
    background-color: transparent;
  }
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #337ab7;
    background-color: #bee0f1;
  }
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom1 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom1 .navbar-link {
  color: #337ab7;
}
.navbar-custom1 .navbar-link:hover {
  color: #337ab7;
}