{% extends "base.html" %}
{% block head %}oSPARC Dashboard{% endblock %}
{% block content %}

<script type="text/javascript">
  google.charts.load('current', {
    'packages':['geochart', 'corechart'],
    'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
  });

  google.charts.setOnLoadCallback(drawRegionsMap);
  google.charts.setOnLoadCallback(drawAgeCapacityChart);

  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable({{ state_chart_array|safe }});
    var options = {region: 'US', resolution: 'provinces', height: 400};
    var chart = new google.visualization.GeoChart(document.getElementById('state_chart'));
    chart.draw(data, options);
  }

  function drawAgeCapacityChart() {
    var data = google.visualization.arrayToDataTable({{ age_size_array|safe }});

    var options = {
      legend: { position: 'top', maxLines: 2},
      height: 400,
      bar: { groupWidth: '75%' },
      isStacked: true,
      vAxis: { title: 'Year', format: ''},
      hAxis: { title: 'Plant Count' }
    };
    var chart = new google.visualization.BarChart(document.getElementById("newplants_chart"));
    chart.draw(data, options);
  }

window.addEventListener('resize', drawRegionsMap);
window.addEventListener('resize', drawAgeCapacityChart);

</script>

<div class="container-fluid">

  <!-- quick stats start here -->
  <div class="panel panel-info">
    <div class="panel-heading">Quick Stats</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <h5 style="margin-left: 10px;">Total Number of plants
            <h4 style="margin-left: 10px;"class="text-left">{{ total_plant_count }}</h3>
          </h5>
        </div>

        <div class="col-md-3">
          <h5 style="margin-left: 10px;">Number of plants in Organization
            <h4 style="margin-left: 10px;"class="text-left">{{ organization_plant_count }}</h3>
          </h5>
        </div>

        <div class="col-md-3">
          <h5 style="margin-left: 10px;">Total rated DC Capacity
            <h4 style="margin-left: 10px;" class="text-left">{{ dc_capacity }} kW</h3>
          </h5>
        </div>

        <div class="col-md-3">
          <h5 style="margin-left: 10px;">Total rated DC Capacity for Organization
            <h4 style="margin-left: 10px;" class="text-left">{{ total_dc_for_org }} kW</h3>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- quick stats end here -->

  <!-- Charts start here -->

      <div class="panel panel-info">
        <div class="panel-heading">Plants by State</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div id="state_chart" align="center"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Plants by Age and Capacity</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <div id="newplants_chart" align="center"></div>
            </div>
          </div>
        </div>
      </div>
    <!-- charts end here -->

    {% if not kpis.status %}
    <!-- metrics start here -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">Energy Performance Metrics</div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>KPI</th>
                  <th>Mean</th>
                  <th>Median</th>
                  <th>Minimum</th>
                  <th>Maximum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Monthly Insolation (<small>kWh/m<sup>2</sup></small>)</th>
                  <td>{{ kpis.monthly_insolation.mean }}</td>
                  <td>{{ kpis.monthly_insolation.median }}</td>
                  <td>{{ kpis.monthly_insolation.minimum }}</td>
                  <td>{{ kpis.monthly_insolation.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">DC Power Rating (<small>kW</small>)</th>
                  <td>{{ kpis.dc_rating.mean }}</td>
                  <td>{{ kpis.dc_rating.median }}</td>
                  <td>{{ kpis.dc_rating.minimum }}</td>
                  <td>{{ kpis.dc_rating.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Monthly AC Energy (<small>MWh</small>)</th>
                  <td>{{ kpis.monthly_yield.mean }}</td>
                  <td>{{ kpis.monthly_yield.median }}</td>
                  <td>{{ kpis.monthly_yield.minimum }}</td>
                  <td>{{ kpis.monthly_yield.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Monthly DC Energy (<small>kWh</small>)</th>
                  <td>{{ kpis.monthly_generated_energy.mean }}</td>
                  <td>{{ kpis.monthly_generated_energy.median }}</td>
                  <td>{{ kpis.monthly_generated_energy.minimum }}</td>
                  <td>{{ kpis.monthly_generated_energy.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Performance Ratio</th>
                  <td>{{ kpis.performance_ratio.mean }}</td>
                  <td>{{ kpis.performance_ratio.median }}</td>
                  <td>{{ kpis.performance_ratio.minimum }}</td>
                  <td>{{ kpis.performance_ratio.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Storage Capacity (<small>kWh</small>)</th>
                  <td>{{ kpis.storage_capacity.mean }}</td>
                  <td>{{ kpis.storage_capacity.median }}</td>
                  <td>{{ kpis.storage_capacity.minimum }}</td>
                  <td>{{ kpis.storage_capacity.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Storage State of Health</th>
                  <td>{{ kpis.storage_state_of_health.mean }}</td>
                  <td>{{ kpis.storage_state_of_health.median }}</td>
                  <td>{{ kpis.storage_state_of_health.minimum }}</td>
                  <td>{{ kpis.storage_state_of_health.maximum }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    </div>
    <!-- metrics end here -->

    {% else %}

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">Energy Performance Metrics</div>
          <div class="panel-body" style="height: 245px;">
            Please be patient as we calculate your KPI report here. Refresh your page momentarily to see if the calculation is done.
          </div>
        </div>
      </div>
    {% endif %}  
    

</div>

{% endblock %}