{% extends "base.html" %}

{% block head %}
Reports
{% endblock %}

{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
{% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        {% if reports_list %}
                            <tr>
                                <td><strong>Report Name</strong></td>
                                <td><strong>Report Type</strong></td>
                                <td><strong>Status</strong></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><strong>Requestor</strong></td>
                                <td><strong>Report Name</strong></td>
                                <td><strong>Date</strong></td>
                                <td><strong>Status</strong></td>
                            </tr>
                        {% endif %}
                    </thead>
                    <tbody>
                        {% if reports_list %}
                            {% for report in plant_reports %}
                            <tr {% if report.status == "SUCCESS" and report.report_type == "Plant Report" %} onclick="location.href='/report_detail/{{ report.id }}'" style="cursor: pointer;" {% elif report.status == "SUCCESS" and report.report_type == "Plant Group Report" %} onclick="location.href='/group_report_detail/{{ report.id }}'" style="cursor: pointer;" {% else %} id="example" data-toggle="tooltip" data-placement="top" title="Report Not Available Yet" {% endif %}>
                                <td>{{ report.report_name }}</td>
                                <td>{{ report.report_type }}</td>
                                <td>{{ report.status }}</td>
                            </tr>
                            {% endfor %}

                        {% else %}
                            {% for query in queries %}
                                <tr {% if query.kpi_status == "SUCCESS" %}onclick="location.href='/osparc/report_detail/{{ query.id }}/'" style="cursor: pointer;" {% else %} id="example" data-toggle="tooltip" data-placement="top" title="Report Not Available Yet" {% endif %}>
                                    <td>{{ username.first_name }} {{ username.last_name }}</td>
                                    <td>{{ query.report_name }}</td>
                                    <td>{{ query.date|date:'Y-m-d  P' }}</td>
                                    <td>{{ query.kpi_status }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $('#example').tooltip(options)
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#list_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}
