{% extends "core/base.html" %}

{% block head %}Plant Data Records{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}


<div class="panel panel-info">        
    <div class="panel-heading">Select A Plant To View Time Series Data</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id ="list_table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td><strong>Plants</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in plants_list %}
                                    <tr>
                                        <td>{{ plant.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $("#list_table").DataTable({
                dom: "Bfrtip",
                responsive: true,
                processing: true,
                serverSide: true,
                pageLength: 10,
                select: true,
                ajax: {
                    url: "/organizations/{{ org_id }}/plants/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                },
                columns: [
                    { data: "name" },
                ],
                "searching": false,
            });

            $('#list_table tbody').on( 'click', 'tr', function () {
                var id = table.row(this).data().id;
                document.location.href = id + '/plant_record_data_detail'
            });

        });
    </script>

{% endblock %}
