{% extends "core/base.html" %}

{% block head %}Plant Record Data Detail{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Time Stamp</strong></td>
                            <td><strong>Sample Interval</strong></td>
                            <td><strong>Energy Differential (Wh)</strong></td>
                            <td><strong>Global Horizontal Insolation Differential (Wm<sup>2</sup>h)</strong></td>
                            <td><strong>Average Ambient Temperature (°C)</strong></td>
                            <td><strong>Horizontal Plane-of-array Insolation Differential (Wm<sup>2</sup>h)</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in plant_time_series %}
                            <tr>
                                <td>{{ data.time_stamp|date:'Y-m-d  P' }}</td>
                                <td>{{ data.sample_interval }}</td>
                                <td>{{ data.WH_DIFF }}</td>
                                <td>{{ data.GHI_DIFF|default_if_none:"" }}</td>
                                <td>{{ data.TMPAMB_AVG|default_if_none:"" }}</td>
                                <td>{{ data.HPOA_DIFF|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}