{% extends "base.html" %}
{% block head %}Report Detail{% endblock %}
{% block content %}

<style type="text/css">
  .export-btn { margin-bottom: 20px; }
</style>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}
    
<div class="container-fluid">
  <!-- export button -->
  <form class="form-horizontal" role="form" id="form" method="post" action=".">{% csrf_token %}
  <div class="row">
      <div class="col-md-12" style="margin-bottom: 20px;">
          <button
              type="submit"
              class="btn btn-success"
              name="query_export_btn"
          >Export to CSV</button>

          <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
              <button
                  {% ifequal user_permission "Read" %}
                  style="display: none;"
                  {% endifequal %}
                  type="submit"
                  name="copy_report_btn"
                  class="btn btn-warning"
              >Run as</button>
          </form>
          <button
              type="button"
              name="rerunModal"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#rerunModal"
          >Re-Run</button>
          <button
            {% ifequal user_permission "Read" %}
            style="display: none;"
            {% endifequal %}
            type="button"
            name="delModal"
            class="btn btn-danger pull-right"
            data-toggle="modal"
            data-target="#delModal"
          >Delete Report</button>
      </div>
  </div>
  </form>

  <!-- report attributes -->
  <div class="panel panel-info">
    <div class="panel-heading">Parameters</div>
    <div class="panel-body">
        <div class="row">
            <div class=" col-md-4">
                <div class="form-group">
                    <label for="requester"
                           class="col-md- control-label"
                    >Requester</label>
                    <input class="form-control"
                           id="requester"
                           type="text"
                           value="{{ username.first_name }} {{username.last_name }}"
                           disabled
                    />
                </div>
            </div>
            <div class=" col-md-4">
                <div class="form-group">
                    <label for="report_name"
                           class="col-md- control-label"
                    >Report Name</label>
                    <input class="form-control"
                           id="report_name"
                           type="text"
                           value="{{ report_name }}"
                           disabled
                    />
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-4">
                <div class="form-group">
                    <label for="initDate"
                           class="col-md- control-label"
                    >Initial Measurement Date</label>
                    <input class="form-control"
                           id="initDate"
                           type="text"
                           value="{{ cq_data.start_date }}"
                           disabled
                    />
                </div>
            </div>
            <div class=" col-md-4">
                <div class="form-group">
                    <label for="endDate"
                           class="col-md- control-label"
                    >Final Measurement Date</label>
                    <input class="form-control"
                           id="endDate"
                           type="text"
                           value="{{ cq_data.end_date }}"
                           disabled
                    />
                </div>
            </div>
        </div>

        <hr/>
        <div class="row">
            {% for qf in query_filters %}
                {{ qf|safe }}
            {% endfor %}
        </div>

    </div>
  </div>
  <!-- report attributes end here -->

  <!-- quick stats start here -->
  <div class="panel panel-info">
    <div class="panel-heading">Quick Stats</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <h5 style="margin-left: 10px;">Number of plants
            <h4 style="margin-left: 10px;"class="text-left">{{ kpi.dc_rating.plants }}</h3>
          </h5>
        </div>

        <div class="col-md-6">
          <h5 style="margin-left: 10px;">Mean DC Capacity
            <h4 style="margin-left: 10px;" class="text-left">{{ kpi.dc_rating.mean }}kW</h3>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- quick stats end here -->

  
    <!-- metrics start here -->
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading">Energy Performance Metrics</div>
          <div class="panel-body" style="height: 325px;">
            <table class="table table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>KPI</th>
                  <th>Mean</th>
                  <th>Median</th>
                  <th>Minimum</th>
                  <th>Maximum</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Monthly Insolation (<small>kWh/m<sup>2</sup></small>)</th>
                  <td>{{ kpi.monthly_insolation.mean }}</td>
                  <td>{{ kpi.monthly_insolation.median }}</td>
                  <td>{{ kpi.monthly_insolation.minimum }}</td>
                  <td>{{ kpi.monthly_insolation.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">DC Power Rating (<small>kW</small>)</th>
                  <td>{{ kpi.dc_rating.mean }}</td>
                  <td>{{ kpi.dc_rating.median }}</td>
                  <td>{{ kpi.dc_rating.minimum }}</td>
                  <td>{{ kpi.dc_rating.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Monthly AC Energy (<small>MWh</small>)</th>
                  <td>{{ kpi.monthly_yield.mean }}</td>
                  <td>{{ kpi.monthly_yield.median }}</td>
                  <td>{{ kpi.monthly_yield.minimum }}</td>
                  <td>{{ kpi.monthly_yield.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Monthly DC Energy (<small>kWh</small>)</th>
                  <td>{{ kpi.monthly_generated_energy.mean }}</td>
                  <td>{{ kpi.monthly_generated_energy.median }}</td>
                  <td>{{ kpi.monthly_generated_energy.minimum }}</td>
                  <td>{{ kpi.monthly_generated_energy.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Performance Ratio</th>
                  <td>{{ kpi.performance_ratio.mean }}</td>
                  <td>{{ kpi.performance_ratio.median }}</td>
                  <td>{{ kpi.performance_ratio.minimum }}</td>
                  <td>{{ kpi.performance_ratio.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Storage Capacity (<small>kWh</small>)</th>
                  <td>{{ kpi.storage_capacity.mean }}</td>
                  <td>{{ kpi.storage_capacity.median }}</td>
                  <td>{{ kpi.storage_capacity.minimum }}</td>
                  <td>{{ kpi.storage_capacity.maximum }}</td>
                </tr>
                <tr>
                  <th scope="row">Storage State of Health</th>
                  <td>{{ kpi.storage_state_of_health.mean }}</td>
                  <td>{{ kpi.storage_state_of_health.median }}</td>
                  <td>{{ kpi.storage_state_of_health.minimum }}</td>
                  <td>{{ kpi.storage_state_of_health.maximum }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <!-- metrics end here -->

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ report_name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="delete_report_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Re-run Modal -->
    <div class="modal fade" id="rerunModal" tabindex="-1" role="dialog" aria-labelledby="rerunModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Refresh Report</h4>
            </div>
            <form class="form-horizontal" role="form" method="post">{% csrf_token %}
                <div class="modal-body">
                    <p>Re-running will generate a new report and replace existing results of <strong>{{ report_name }}</strong>. Are you sure you want to re-run?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="rerun_report_btn">Re-Run</button>
                </div>
            </form>
            </div>
        </div>
    </div>

</div>

{% endblock %}
