{% extends "core/base.html" %}

{% block head %}Plant Weather Data Detail{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Observation Time</strong></td>
                            <td><strong>GHI</strong></td>
                            <td><strong>DNI</strong></td>
                            <td><strong>DHI</strong></td>
                            <td><strong>Irradiance Observation Type</strong></td>
                            <td><strong>Ambient Temperature</strong></td>
                            <td><strong>Ambient Tempature Observation Type</strong></td>
                            <td><strong>Wind Speed</strong></td>
                            <td><strong>Wind Speed Observation Type</strong></td>
                            <td><strong>Relative Humidity</strong></td>
                            <td><strong>Liquid Precipitation</strong></td>
                            <td><strong>Solid Precipitation</strong></td>
                            <td><strong>Snow Depth</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in weather_data %}
                            <tr>
                                <td>{{ data.observation_time }}</td>
                                <td>{{ data.global_horizontal_irradiance }}</td>
                                <td>{{ data.direct_normal_irradiance }}</td>
                                <td>{{ data.diffuse_horizontal_irradiance }}</td>
                                <td>{{ data.irradiance_observation_type }}</td>
                                <td>{{ data.ambient_temperature }}</td>
                                <td>{{ data.ambient_temperature_observation_type }}</td>
                                <td>{{ data.wind_speed }}</td>
                                <td>{{ data.wind_speed_observation_type }}</td>
                                <td>{{ data.relative_humidity }}</td>
                                <td>{{ data.liquid_precipitation }}</td>
                                <td>{{ data.solid_precipitation }}</td>
                                <td>{{ data.snow_depth }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#list_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}