{% extends "core/base.html" %}

{% block head %}Create Plant Weather Data{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}


<div class="panel panel-info">        
    <div class="panel-heading"><strong>Select A Plant to Assign Weather Data To</strong></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id ="list_table" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td><strong>Available Plants</strong></td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plant in plant_list %}
                                    <tr id={{ plant.id }}>
                                        <td>{{ plant.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="form-horizontal" role="form" id="form" method="post" action=".">{% csrf_token %}
        <div class="row" style="padding-top: 20px">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>Get Weather Data from Solar Anywhere</strong></div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Start Time</label>
                                    <div class="col-xs-6">
                                        <input type="datetime-local" name="start_time" step="any" id="id_start_time" class="form-control input-sm" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">End Time</label>
                                    <div class="col-xs-6">
                                        <input type="datetime-local" name="end_time" step="any"  id="id_end_time" class="form-control input-sm" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary" data-tooltip="tooltip" title="Please Select A Plant To Enable Button" id="weather_data_btn" name="weather_data_btn">Get Weather Data from Solar Anywhere</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
 
    </form>

    <!-- Import weather data from CSV -->
    <!--<div class="row" style="padding-top: 20px">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading"><strong>Import Weather Data from CSV</strong></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group">
                                <li class="list-group-item">To Upload Weather Data, please select and upload a CSV file. To see a sample of the CSV format, click <a href="/static/core/example_files/WeatherDataExample.csv"><u>here</u></a> to download.</li>
                            </ul>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" name="importModal" class="btn btn-primary" data-toggle="modal" data-tooltip="tooltip" title="Please Select A Plant To Enable Button" id="csv_button" data-target="#importModal" style="margin: 0px 0px 0px 15px;">Upload from CSV</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>-->

</div>

    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Weather Data</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                    <p>Choose a CSV file to create Weather Data for your Plant<br>
                        Use a format that matches the Template <br> <br>
                    <input id="plant_id" type="hidden" value=""/>
                    <input type="file" accept=".csv" name="datafile" required></p>
                    <p>View Template <a href="/static/core/example_files/WeatherDataExample.csv"><u>HERE</u></a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="import_weather_data_btn">Upload from CSV</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <style>
        .list-group-item { border-color: #337ab7; }
    </style>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#list_table').DataTable({
                dom: "Bfrtip",
                responsive: true,
                serverSide: true,
                processing: true,
                pageLength: 10,
                select: true,
                ajax: {
                    url: "/organizations/{{ org_id }}/plants/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                    },
                    dataType: "json",
                },
                columns: [
                    { data: "name" },
                ],
                "searching": false,
                "ordering": false,
            });

            $('#list_table tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $("#csv_button").attr("disabled", "disabled");
                    $('#plant_id').val('');
                }
                else {
                    table.$('tr.selected').removeClass('selected');

                    $(this).addClass('selected');
                    $("#csv_button").removeAttr("disabled data-tooltip title");
                    $("#weather_data_btn").removeAttr("disabled data-tooltip title");
                    plantid = table.row( this ).data().id
                    $('form.form-horizontal').attr('action', document.URL + '?' + 'plant_id='+plantid)
                }
            });
        });

        document.onload = $("#csv_button").attr("disabled", "disabled");
        document.onload = $("#weather_data_btn").attr("disabled", "disabled");
        $('[data-tooltip="tooltip"]').tooltip();

    </script>

{% endblock %}
