{% extends "base.html" %}

{% block head %}
    User Account Detail
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="/organizations/{{ account_detail.organization.id }}/accounts/{{ account_detail.id }}">{% csrf_token %}

        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Account Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <input type="hidden" name="pass_ip" value="{{ account_detail.password }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-5">First Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="f_name_ip" value="{{ account_detail.first_name }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Last Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="l_name_ip" value="{{ account_detail.last_name }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Email Address *</label>
                                <div class="col-xs-4">
                                    <input type="email" maxlength="30" class="form-control input-sm" name="email_ip" value="{{ account_detail.email }}" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Permissions *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="permiss_ip">
                                        {% for key in user_permission_list %}
                                            <option value="{{ key.id }}" {% ifequal key.id account_detail.user_permission.id %} selected {% endifequal %}>{% if key.name == "Write Data" %}Write oSPARC Data{% elif key.name == "Read Data" %}Read oSPARC Data {% else %}{{ key.name }}{% endif %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="top"
                                   data-trigger="focus" title="User Permissions" {% if osparc_license %} data-content="Read allows inspection of group resources. Write allows create and updating of group resources. Admin allows creation and management of users. Read oSPARC data and Write oSPARC data allows data providers to inspect data or to populate data into the system." {% else %}
                                   data-content="Read allows inspection of group resources. Write allows create and updating of group resources. Admin allows creation and management of users." {% endif %}>
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            {% ifequal is_superuser True %}
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Organizations *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="organization_ip" id="organization_ip">
                                        {% for key in organizations_list %}
                                            <option value="{{ key.id }}" {% ifequal key.id account_detail.organization.id %} selected {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                               
                            {% endifequal %}

                            <div class="form-group">
                                <label class="col-xs-5 control-label">Enable Failure Mode Analysis</label>
                                <div class="col-xs-4 checkbox">
                                    <input type="checkbox" name="fma_ip" {% ifequal account_detail.failure_analysis_available 1 %}checked="checked" {% endifequal %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" name="account_update_btn">Update Account</button>
        <button type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Delete Account</button>

    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Account</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ account_detail.organization.id }}/accounts/{{ account_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ account_detail.first_name }} {{ account_detail.last_name }}</strong>?</p>
                    <div class="form-group">
                        <input type="hidden" name="user_id_ip" id="user_id_ip" value="{{ account_detail.id }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="account_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Change Organization Modal -->
    <div class="modal fade" id="changeOrgModal" tabindex="-1" role="dialog" aria-labelledby="changeOrgModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button id="no_change_org_btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Change Organization</h4>
            </div>
                <div class="modal-body">
                    <p>Are you sure you want to change the Organization</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="cancel_org_btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary" id="change_org_btn">Change</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var org_value = document.getElementById("organization_ip").value;

        $(document).on('change', '#organization_ip', function() {
            $('#changeOrgModal').modal('show');

            $("#change_org_btn").on("click", function(){
                var change_org_value = document.getElementById("organization_ip").value;
                $('#changeOrgModal').modal('hide');
                $("#organization_ip").val(change_org_value).change();
            });

           $("#no_change_org_btn").on("click", function(){
               $('#changeOrgModal').modal('hide');
               $("#organization_ip").val(org_value).change();
           });

           $("#cancel_org_btn").on("click", function(){
               $('#changeOrgModal').modal('hide');
               $("#organization_ip").val(org_value).change();
           });
        });

    </script>

{% endblock %}