{% extends "base.html" %}
{% block head %}User Accounts{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}
    
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="accounts_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>First Name</strong></td>
                            <td><strong>Last Name</strong></td>
                            <td><strong>Email</strong></td>
                            <td><strong>Permissions</strong></td>
                            {% ifequal is_superuser True %}
                                <td><strong>Organization</strong></td>
                            {% endifequal %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in account_list %}
                            <tr onclick="location.href='/organizations/{{ key.organization.id }}/accounts/{{ key.id }}'" style="cursor: pointer;">
                                <td>{{ key.first_name }}</td>
                                <td>{{ key.last_name }}</td>
                                <td>{{ key.email }}{% ifequal logged_in_user_id key.id %} <i style="color: gray">(You)</i> {% endifequal %}</td>
                                <td>{{ key.user_permission.name }}</td>
                                {% ifequal is_superuser True %}
                                    <td>{{ key.organization.name }}</td>
                                {% endifequal %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#accounts_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}