{% extends "base.html" %}

{% block head %}
    Create User Account
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Account Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-5">First Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="f_name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Last Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="l_name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Email Address *</label>
                                <div class="col-xs-4">
                                    <input type="email" class="form-control input-sm" name="email_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Password *</label>
                                <div class="col-xs-4">
                                    <input type="password" class="form-control input-sm" name="password_ip" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-5 control-label">Permissions *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="permiss_ip">
                                        {% for key in user_permission_list %}
                                            {% if cost_model_license and not osparc_license %}
                                                {% if key.id <= 3 %}
                                                    <option value="{{ key.id }}">{{ key.name }}</option>
                                                {% endif %}
                                            {% else %}
                                                <option value="{{ key.id }}">{% if key.name == "Write Data" %}Write oSPARC Data{% elif key.name == "Read Data" %}Read oSPARC Data {% else %}{{ key.name }}{% endif %}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="top"
                                   data-trigger="focus" title="User Permissions" {% if osparc_license %} data-content="Read allows inspection of group resources. Write allows create and updating of group resources. Admin allows creation and management of users. Read oSPARC data and Write oSPARC data allows data providers to inspect data or to populate data into the system." {% else %}
                                   data-content="Read allows inspection of group resources. Write allows create and updating of group resources. Admin allows creation and management of users." {% endif %}>
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            
                            {% ifequal is_superuser True %}
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Organizations *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="organization_ip">
                                        {% for key in organizations_list %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>                               
                            {% endifequal %}

                            {% if cost_model_license %}
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Enable Failure Mode Analysis</label>
                                <div class="col-xs-4 checkbox">
                                    <input type="checkbox" name="fma_ip">
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-primary" name="account_create_btn">Create Account</button>
    </form>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

    </script>

{% endblock %}
