<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Asset Performance Suite</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'core/Images/favicon.ico' %}"/>

    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'core/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%  static 'core/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet' %}">

    <!-- Custom CSS -->
    <link href="{%  static 'core/dist/css/sb-admin-2.css" rel="stylesheet"' %}">

    <!-- Custom Fonts -->
    <link href="{%  static 'core/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  static 'core/less/costmodelapp.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-custom navbar-static-top">
            <div class="navbar-header">
                <a href="#" class="navbar-left">
                    <img style="height:50px; padding-left: 5px;" src="{% static 'core/Images/opendem-small.png' %}">
                </a>
                <a class="navbar-brand">Asset Performance Suite</a>
            </div>
        </nav>

        <div class="row">
            <!--div class="col-sm-4 col-sm-offset-1"-->
            <div class="col-sm-4 col-sm-offset-4">
                <div class="login-panel panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title pull-left"><h3>Login</h3></div>
                        <div class="panel-title pull-right"><i class="fa fa-key fa-3x"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action=".">{% csrf_token %}
                            <input type="hidden" name="redirect_to_next" value="{{ next }}" />

                            {% for message in messages %}
                                {% if message.tags == 'warning' %}
                                    <div class="alert alert-danger"><strong>{{ message }}</strong></div>
                                {% elif message.tags == 'success' %}
                                    <div class="alert alert-success"><strong>{{ message }}</strong></div>
                                {% endif %}
                            {% endfor %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email Address" name="email" type="email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" required>
                                </div>
                                <button class="btn btn-primary btn-block" type="submit" name="loginbtn">Sign In</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-4">
                    <button type="button" name="forgotModal" class="btn btn-link" data-toggle="modal" data-target="#forgotModal">Forgot Password</button>
                </div>

            </div>

            <!--div class="col-sm-1 middle-border"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title pull-left"><h3>Register</h3></div>
                        <div class="panel-title pull-right"><i class="fa fa-pencil fa-3x"></i></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" action=".">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email Address" name="email" type="email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Verify Password" name="verify_password" type="password" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="First Name" name="first_name" type="text" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last Name" name="last_name" type="text" required>
                                </div>
                                <div class="form-group">
                                <select class="form-control" name="org_id" required>
                                    <option value="" selected disabled>Select an Organization</option>
                                    {% for key in organizations %}
                                        <option value="{{ key.id }}">{{ key.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                                <button class="btn btn-primary btn-block" type="submit" name="registerbtn" disabled data-toggle="tooltip" data-placement="bottom" title="Disabled for Alpha" disabled>Sign Up</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div-->

        </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" style=" margin-bottom: 0;">
            <div class="container">
                <ul class="nav navbar-nav" style="text-align: center;">
                    <p class="navbar-text"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 SunSpec Alliance</p>
                    <li style="text-decoration: underline;"><a href="http://sunspec.org/osparc-service-activation-agreement/">Terms of Use</a></li>
                    <p class="navbar-text">Version 0.9.0</p>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Forgot Password Modal -->
    <div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Forgot Password</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Email Address</label>
                        <div class="col-xs-4">
                            <input type="email" class="form-control input-sm" name="email" id="email" required>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="forgot_password_btn">Submit</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{%  static 'core/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static 'core/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%  static 'core/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%  static 'core/dist/js/sb-admin-2.js' %}"></script>

</body>
<script>
    var password = document.getElementById("new_password"), confirm_password = document.getElementById("verify_new_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</html>
