<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Asset Performance Suite</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <!-- Google Charts AJAX API -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'core/Images/favicon.ico' %}"/>

    <!-- DataTables CSS -->
    <link href="{%  static 'core/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}" rel="stylesheet">

    <link href="{%  static 'core/bower_components/datatables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{%  static 'core/bower_components/datatables-responsive/css/responsive.dataTables.scss' %}" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'core/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%  static 'core/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{%  static 'core/dist/css/timeline.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%  static 'core/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{%  static 'core/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  static 'core/less/costmodelapp.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  static 'core/less/navbar-custom1.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding : 0px;
            margin-left: 0px;
            display: inline;
            border: 0px;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 0px;
        }
    </style>

</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-static-top" role="navigation" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left">
                    <!--padding-left: 5px; padding-top: 5px; max-width:100px; margin-top: -7px; height: 50px-->
                    <img style="height:50px; padding-left: 5px;" src="{% static 'core/Images/opendem-small.png' %}">
                </a>
                {% if cost_model_license and osparc_license %}
                    <a class="navbar-brand" href="{% url 'index' %}">Asset Performance Suite</a>
                {% elif cost_model_license %}
                    <a class="navbar-brand" href="{% url 'index' %}">Asset Performance Suite-PV O&amp;M Cost Model</a>
                {% else %}
                    <a class="navbar-brand" href="{% url 'dashboard' %}">Asset Performance Suite-oSPARC</a>
                {% endif %}
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-info-circle fa-fw fa-lg"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-help">
                        <li>
                            <a href="{% url 'help' %}"><i class="fa fa-info-circle fa-lg fa-fw"></i> Help</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user  fa-lg fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'profile' %}"><i class="fa fa-user fa-lg fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-lg fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--background-color:#d9edf7; border:#337ab7 1px solid-->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header"
                                {% ifnotequal user_permission "Admin" %} style="display: none; padding-left: 20px; color: #FFFFFF; background-color: #337ab7"
                                {% else %} style="padding-left: 20px; color: #FFFFFF; background-color: #337ab7"
                                {% endifnotequal %}>Administration
                        </li>
                        <li {% ifnotequal is_superuser True %} style="display: none;" {% endifnotequal %}>

                            <a href="#" style="font-size:15px;">
                            <i class="fa fa-building fa-lg fa-fw"></i>   Organizations<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href='/organizations/new/'>Create New</a>
                                </li>
                                <li><a href="/organizations/">View Existing</a></li>
                            </ul>
                        </li>
                        <li {% ifnotequal user_permission "Admin" %} style="display: none;" {% endifnotequal %}>

                            <a href="#" style="font-size:15px;">
                            <i class="fa fa-users fa-lg fa-fw"></i>   User Accounts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'account_create' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/accounts/">View Existing</a></li>
                            </ul>
                        </li>

                        <li><a href="#" style="font-size:15px;"><i class="fa fa-leaf fa-lg fa-fw"></i>   Plants<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'plant_create' %}">Create New</a>
                                </li>
                                <li>
                                    {% if is_superuser %}
                                        <a href="{% url 'plant-filter' %}">View Existing</a>
                                    {% else %}
                                        <a href="/organizations/{{ org_id }}/plants/">View Existing</a>
                                    {% endif %}
                                </li>
                                <!-- PLANT IMPORT FOR SUPERUSER ONLY -->
                                <li {% ifnotequal is_superuser True %} style="display: none;" {% endifnotequal %}><a href="{% url 'plant-import' %}">Plant Data Import</a>
                                </li>
                                <!--<li {% ifnotequal is_superuser True %} style="display: none;" {% endifnotequal %}><a href="{% url 'plant-filter' %}">Filter Plants</a>
                                </li>-->
                            </ul>
                        </li>

                        <li class="nav-header" style="padding-left: 20px; color: #FFFFFF; background-color: #337ab7;
                                {% ifequal cost_model_license 0 %}
                                    display: none;
                                {% endifequal %}"
                        >PV O&amp;M Cost Model</li>
                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}><a href="{% url 'index' %}" style="font-size:15px"><i class="fa fa-dashboard fa-lg fa-fw"></i>   Dashboard</a></li>

                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}><a href="#" style="font-size:15px;"><i class="fa fa-line-chart fa-lg fa-fw"></i>   Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'reports' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/reports/">View Existing</a></li>
                            </ul>
                        </li>

                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}><a href="#" style="font-size:15px;"><i class="fa fa-pagelines fa-lg fa-fw"></i>   Plant Groups<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'plant_group_create' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/plant_groups/">View Existing</a></li>
                            </ul>
                        </li>

                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}>
                            <a href="#" style="font-size:15px;"><i class="fa fa-bar-chart fa-lg fa-fw"></i>   Cost Models<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'costmodel_create' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/costmodels/?default=true">View Existing</a></li>
                            </ul>
                        </li>
                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}>
                            <a href="#" style="font-size:15px;"><i class="fa fa-wrench fa-lg fa-fw"></i>   Services<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'service_create' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/services/?default=true">View Existing</a></li>
                            </ul>
                        </li>
                        <li {% ifequal cost_model_license 0 %} style="display: none;" {% endifequal %}>
                            <a href="#" style="font-size:15px;"><i class="fa fa-usd fa-lg fa-fw"></i>   Labor Rates<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'labor_rates_create' %}">Create New</a>
                                </li>
                                <li><a href="/organizations/{{ org_id }}/labor_rates/?default=true">View Existing</a></li>
                            </ul>
                        </li>


                        <li class="nav-header" style="padding-left: 20px; color: #FFFFFF; background-color: #337ab7;
                                {% ifequal osparc_license 0 %} display: none; {% endifequal %}"
                        >oSPARC</li>
                        <li {% ifequal osparc_license 0 %} style="display: none;" {% endifequal %}><a href="/osparc/" style="font-size:15px"><i class="fa fa-dashboard fa-lg fa-fw"></i>   Dashboard</a></li>
                        <li {% ifequal osparc_license 0 %} style="display: none;" {% endifequal %}>
                            <a href="#" style="font-size:15px;"><i class="fa fa-line-chart fa-lg fa-fw"></i>   Reports<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'create-report' %}">Create New</a>
                                </li>
                                <li><a href="{% url 'kpi-report-list' %}">View Existing</a></li>
                            </ul>
                        </li>
                        <!--<li {% ifequal osparc_license 0 %} style="display: none;" {% endifequal %}>
                            <a href="#" style="font-size:15px;"><i class="fa fa-file-text-o fa-lg fa-fw"></i>   Report Definitions<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="#">Create New</a>
                                </li>
                                <li><a href="#">View Existing</a></li>
                            </ul>
                        </li>-->
                        <li {% ifequal osparc_license 0 %} style="display: none;" {% endifequal %}><a href="#" style="font-size:15px;"><i class="fa fa-database fa-lg fa-fw"></i>   Plant Data Records<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'plant-time-series-create' %}">Create New</a>
                                </li>
                                <li><a href="{% url 'plants' %}">View Existing</a></li>
                            </ul>
                        </li>

                        <li {% ifequal osparc_license 0 %} style="display: none;" {% endifequal %}><a href="#" style="font-size:15px;"><i class="fa fa-cloud fa-lg fa-fw"></i>   Plant Weather Data Records<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}>
                                    <a href="{% url 'weather-data-create' %}">Create New</a>
                                </li>
                                <li><a href="{% url 'weather-data-plants' %}">View Existing</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper" style="min-height: 100%; height: auto !important; margin-bottom: -50px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block head %}{% endblock %}</h1>
                </div>
            </div>
        {% block content %}{% endblock %}
        <div class="push" style="height: 50px;"></div>
        </div>

        <nav class="navbar navbar-default navbar-static-bottom" style=" margin-bottom: 0;">
            <div class="container">
                <ul class="nav navbar-nav" style="text-align: center;">
                    <p class="navbar-text"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 SunSpec Alliance</p>
                    <li style="text-decoration: underline;"><a href="http://sunspec.org/osparc-service-activation-agreement/" target="_blank">Terms of Use</a></li>
                    <p class="navbar-text">Version 0.9.0</p>
                </ul>
            </div>
        </nav>

    </div>

    <!-- jQuery -->
    <script src="{%  static 'core/bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static 'core/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%  static 'core/bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%  static 'core/dist/js/sb-admin-2.js' %}"></script>

    <!-- DataTables JavaScript -->
    <script src="{%  static 'core/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{%  static 'core/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js' %}"></script>
    <script src="{%  static 'core/bower_components/datatables-plugins/fixed-columns/js/dataTables.fixedColumns.min.js' %}"></script>
    
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();
        });

    </script>

</body>

</html>
