{% extends "base.html" %}
{% block head %}Documentation{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div class="row">
        <p><strong>Report issues, bugs, questions and feedback to <a href="mailto:support@sunspec.org">support@sunspec.org</a></strong></p>
        <p> PV O&amp;M Cost Model Documentation: </p>
        <p><a href="{% static 'core/example_files/CostModelUserManual.pdf' %}" target="_blank">User Manual</a></p>
        <p><a href="{% url 'release_notes' %}">Release Notes</a></p>
        <p><a href="http://sunspec.org/osparc-service-activation-agreement/">Terms of Use</a></p>
        {% if osparc_license %}
        	<p> Osparc Documentation: </p>
        	<p><a href="{% static 'core/example_files/oSPARCUserManual.pdf' %}" target="_blank">User Manual</a></p>
        {% endif %}

    </div>

{% endblock %}
