{% extends "base.html" %}

{% block head %}
    Create Organization
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Account Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-5">First Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="f_name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Last Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30" class="form-control input-sm" name="l_name_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Email Address *</label>
                                <div class="col-xs-4">
                                    <input type="email" maxlength="30" class="form-control input-sm" name="email_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Password *</label>
                                <div class="col-xs-4">
                                    <input type="password" class="form-control input-sm" name="password_ip" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Permissions *</label>
                                <div class="col-xs-4">
                                    <select class="form-control input-sm" name="permiss_ip">
                                        {% for key in user_permission_list %}
                                            <option value="{{ key.id }}">{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Enable Failure Mode Analysis</label>
                                <div class="col-xs-4 checkbox">
                                    <input type="checkbox" name="fma_ip">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <button type="submit" class="btn btn-primary" name="account_create_btn">Create Account</button>
    </form>

{% endblock %}
