{% extends "base.html" %}
{% block head %}Organizations{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="organizations_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Description</strong></td>
                            <td><strong>CostModel License</strong></td>
                            <td><strong>OSPARC License</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in organization_list %}
                            <tr onclick="location.href='/organizations/{{ key.id }}'" style="cursor: pointer;">
                                <td>{{ key.name }}</td>
                                <td>{% if key.description %}{{ key.description }}{% endif %}</td>
                                <td>{% if key.cost_model_license %}&#10004;{% else %}&#10060;{% endif %}</td>
                                <td>{% if key.osparc_license %}&#10004;{% else %}&#10060;{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#organizations_table').DataTable({
                responsive: true
            });
        });
    </script>

{% endblock %}
