{% extends "base.html" %}

{% block head %}
{% if new_organization %}
    Create Organization
{% else %}
    Organization Detail
{% endif %}
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" action="." >{% csrf_token %}

        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Organization Information</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-xs-5">Name *</label>
                                <div class="col-xs-4">
                                    <input type="text" maxlength="30"
                                           class="form-control input-sm" name="name"

                                           value="{{ organization_detail.name }}" required
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Description</label>
                                <div class="col-xs-4">
                                    <input type="textarea" maxlength="30"
                                           class="form-control input-sm" name="description"
                                           {% if organization_detail.description %}
                                           value="{{ organization_detail.description }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Enable Cost Model License</label>
                                <div class="col-xs-4 checkbox">
                                    <input
                                      type="checkbox"
                                      name="cost_model_license"
                                      {% if organization_detail.cost_model_license %} checked="checked" {% endif %}
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-5 control-label">Enable OSPARC License</label>
                                <div class="col-xs-4 checkbox">
                                    <input
                                      type="checkbox"
                                      name="osparc_license"
                                      {% if organization_detail.osparc_license %} checked="checked" {% endif %}
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if new_organization %}
        <button type="submit" class="btn btn-primary" name="create_btn">Create Organization</button>
        {% else %}
        <button type="submit" class="btn btn-primary" name="update">Update Organization</button>
        <button type="button" name="delModal" class="btn btn-danger" data-toggle="modal" data-target="#delModal">Delete Organization</button>
        {% endif %}


    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete {{ organization_detail.name }}</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ organization_detail.id }}/">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ organization_detail.name }} </strong>?</p>
                    <div class="form-group">
                        <input type="hidden" name="id" id="user_id_ip" value="{{ organization_detail.id }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="delete">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>

{% endblock %}
