{% extends "base.html" %}

{% block head %}{{ form_label }}{% endblock %}
{% block content %}

<script type="text/javascript">
  var cities = {{ cities|safe }};

  function getCitiesByState(){
    cfs = cities[parseInt($('#state').find(':selected').val())];
    $('#city').empty();
    $.each(cfs, function(index) {
     $('#city')
          .append($('<option>', { value : cfs[index].id })
          .text(cfs[index].name));
    });
  }

  $(document).ready(getCitiesByState);
</script>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="panel panel-info">
        <div class="panel-heading">{{ form_label }}</div>
            <div class="panel-body">
                <form class="form-horizontal" id="{{ name }}" role="form" method="post" action="{% url 'plant_create' %}">{% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary" name="{{ name }}">Create {{ form_label }}</button>
		    {% if name == 'equipment' %}
			    <input type="hidden" name="financeid" value="{{ finance_id }}"/>
		    {% endif %}
                </form>
            </div>
        </div>
    </div>


    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Import Plant Data from Excel</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                    <p>Choose a file to populate form fields<br>
                        Use a format that matches the Export <br> <br>
                    <input type="file" accept=".xlsx" name="datafile" required></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="plant_import_btn">Import from Excel</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    $('form').submit(function () {
        console.log("submit function");
        console.log($('#env_conditions_ip option'));
        $('#env_conditions_ip option').prop("selected", "selected");
    });

    $(function () {
        $('[data-toggle="popover"]').popover();
    });

    var inverter_type_select = document.getElementById("inverter_type_ip");
    var replacement_cost_field = document.getElementById("inv_cost_ip");

    var module_type_select = document.getElementById("module_type_ip");
    var degradation_rate_field = document.getElementById("module_degradation_rate_ip");

    var active_costmodel_select = document.getElementById("active_cm_ip");
    var costmodels_select = document.getElementById("cm_ip");
    var tracking_select = document.getElementById("tracking_ip");
    var mounting_location_select = document.getElementById("mounting_location_ip");
    var market_sector_select = document.getElementById("market_sector_ip");

    var inverter_type_data = '{{ inverter_type_data }}';
    var inverter_type_quotes = inverter_type_data.replace(/&quot;/ig, '"');
    var inverter_types = JSON.parse(inverter_type_quotes);

    var module_type_data = '{{ module_type_data }}';
    var module_type_quotes = module_type_data.replace(/&quot;/ig, '"');
    var module_types = JSON.parse(module_type_quotes);

    disable_fields();
    populate_field();
    populate_replacement_cost();
    populate_degradation_rate();
    populate_active_costmodel();

    function populate_replacement_cost() {
        var selected_inv_type = inverter_type_select.options[inverter_type_select.selectedIndex].value;

        for (var i = 0; i < inverter_types.length; i++) {
            if (inverter_types[i]['id'] == selected_inv_type){
                replacement_cost_field.value = inverter_types[i]['replacement_cost'];
            }
        }
    }

    function populate_degradation_rate() {
        var selected_module_type = module_type_select.options[module_type_select.selectedIndex].value;

        for (var i = 0; i < module_types.length; i++) {
            if (module_types[i]['id'] == selected_module_type){
                degradation_rate_field.value = module_types[i]['degradation_rate'];
            }
        }
    }

    function removeOptions(selectbox) {
        var i;
        for (i = selectbox.options.length - 1; i >= 0; i--) {
            selectbox.remove(i);
        }
    }

    function populate_active_costmodel() {

        removeOptions(active_costmodel_select);

        var realvalues = [];
        var textvalues = [];
        $('#cm_ip :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });

        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            active_costmodel_select.appendChild(opt);
        }
    }

    function disable_fields(){
        var selected_tracking = tracking_select.options[tracking_select.selectedIndex].innerHTML;
        var selected_mounting_location = mounting_location_select.options[mounting_location_select.selectedIndex].innerHTML;

        if (selected_tracking == 'No Tracking'){
            $("#rows_per_tracked_block_ip").prop("disabled", true);
        }
        else{
            $("#rows_per_tracked_block_ip").prop("disabled", false);
        }

        if (selected_mounting_location == 'Rooftop'){
            $("#foundations_ip").prop("disabled", true);
        }
        else{
            $("#foundations_ip").prop("disabled", false);
        }
    }

    function populate_field() {
        var selected_market_sector = market_sector_select.options[market_sector_select.selectedIndex].innerHTML;
        console.log(selected_market_sector);
        console.log($("#no_of_transformers_ip").val());
        if (selected_market_sector == 'Residential'){
            $("#no_of_transformers_ip").val(0);
        }
        else{
            $("#no_of_transformers_ip").val('');
        }
        console.log($("#no_of_transformers_ip").val());
    }

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        //$('#available_plants_ip :selected').each(function(i, selected) {
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();
    }

    function add_all(from, to) {

        //$('#available_plants_ip option[value!="0"]').remove().appendTo('#plants_ip');
        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);
    }

    </script>

{% endblock %}
