{% extends "base.html" %}

{% block head %}
{% if create_plant %}
Create Plant
{% else %}
Plant Detail
{% endif %}
{% endblock %}

{% block content %}

<script type="text/javascript">
  var states = {{ states_dict|safe }};
  function getStatesbyCountry() {
    sfc = states[parseInt($('#country').find(':selected').val())];
    $('#state').empty();
    $.each(sfc, function(index) {
     $('#state')
          .append($('<option>', { value : sfc[index].id })
          .text(sfc[index].name));
    });
  }
  $(document).ready(getStatesbyCountry);

  var cities = {{ cities|safe }};

  function getCitiesByState(){
    cfs = cities[parseInt($('#state').find(':selected').val())];
    $('#city').empty();
    $.each(cfs, function(index) {
     $('#city')
          .append($('<option>', { value : cfs[index].id })
          .text(cfs[index].name));
    });
  $("#city").prepend("<option value='' selected='selected'>---select city---</option>");
  }

  $(document).ready(getCitiesByState);
/*
  function populateStateForPlantDetail(){
    stateSelected = $('#state option[value="' + $('#state_id')[0].value + '"]')[0].selected = true;
    }
  }
*/
</script>

<style type="text/css">
    .list-group-item {
        padding: 6px 12px;
        border: 1px solid #ccc;
    }
</style>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}
    {% if not create_plant %}
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3">
                    <button
                            {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}
                            type="button" name="delModal" class="btn btn-warning" data-toggle="modal" data-target="#copyModal" style="margin-left: -15px;">
                        Copy Plant
                    </button>
                </div>
                <div class="col-md-3">
                    <form method="post" action='/organizations/{{ org_id }}/plants/{{ plant_detail.id }}'>{% csrf_token %}
                    <button type="submit" class="btn btn-warning" name="plant_export_btn" style="margin-left: -15px;">Export to Excel</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <button
                        {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}
                        type="button" name="delModal" class="btn btn-danger pull-right" data-toggle="modal" data-target="#delModal">
                    Delete Plant
                </button>
            </div>

        </div>
    {% endif %}
      {% if create_plant %}
            <form name="all" id="all" class="form-horizontal" role="form" method="post" action="/plant_create/">
            {% csrf_token %}
        <div class="row">            
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" name="plant_create_btn" style="margin-bottom: 10px;">Create Plant</button>
                </div>

                <div class="col-md-3 col-md-offset-5">
                    <button type="button" class="btn btn-warning" name="importModal" data-toggle="modal" data-target="#importModal">Upload Plant from CSV</button>

                    <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover" data-placement="right" data-trigger="focus" title="CSV Template" style="margin: 2px 0px 0px 4px;" data-content="Download a template of the Plant CSV file <a href='{% url "plant-upload-sample" %}'><u>HERE</u></a>" data-html="true">
                        <i class="fa fa-info fa-fw"></i>
                    </a>
                </div>
        </div>
      {% endif %}
      {% if not create_plant %}
        <div class="row" style="padding-top: 20px">
      {% else %}
        <div class="row">
      {% endif %}
          {% if not create_plant %}
          <form name="general" id="general" class="form-horizontal" role="form" method="post" action="/organizations/{{ org_id }}/plants/{{ plant_detail.id }}">{% csrf_token %}
          {% endif %}
          <input type="hidden" name="equipment_id" value="{{ plant_detail.plant_equipment }}"/>
          <input type="hidden" name="finance_id" value="{{ plant_detail.plant_finance }}"/>
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Information</div>
                    <div class="panel-body">
                        <div class="row">

                        <div class="col-lg-6">
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">UUID</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="uuid" value="{{ plant_detail.uuid }}" readonly>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="UUID"
                                   data-content="Universally Unique Plant Identifier">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <label class="control-label col-xs-4">Plant Name *</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" maxlength="45" value="{{ plant_detail.name }}" name="name" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Plant Description</label>
                                <div class="col-xs-6">
                                    <textarea class="form-control input-sm" rows="2" maxlength="254" name="description">{% if plant_detail.description %}{{ plant_detail.description }}{% endif %}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">PV Market Sector *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="pv_market_sector">
                                        {% for sector in pv_market_sectors %}
                                              <option value="{{ sector.id }}"
                                                      {% ifequal sector.id plant_detail.pv_market_sector %} selected {% endifequal %}
                                              >{{ sector.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="PV Market Sector"
                                   data-content="The size category of the PV System.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Activation Date *</label>
                                <div class="col-xs-6">
                                    <input type="date" class="form-control input-sm" name="activation_date" value="{{ plant_detail.activation_date }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">DC Rating *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_detail.dc_rating }}" name="dc_rating" required>
                                        <span class="input-group-addon">kW</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="DC Rating"
                                   data-content="It is the DC power rating of the PV array
                                        in kilo Watt peak (kWp) at standard test conditions (STC).
                                        The DC Rating determines other plant attributes such as number of modules,
                                        string configuration, array area, etc.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            {% if is_superuser and plant_create %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Plant Origin</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" {% if plant_detail.plant_origin %} value="{{ plant_detail.plant_origin }}" {% else %} value="Created by User" {% endif %} name="plant_origin" disabled>
                                </div>
                                
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Plant Creation Date</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" {% if plant_detail.plant_creation_date %} value="{{ plant_detail.plant_creation_date }}" {% endif %} name="plant_creation_date" disabled>
                                </div>
                                
                            </div>
                            {% endif %}
                        </div>

                            <div class="col-lg-6">

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Derate Factor</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" name="derate_factor" value="{{ plant_detail.derate_factor }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Energy Yield *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_detail.energy_yield }}" name="energy_yield" required>
                                        <span class="input-group-addon">kWh/kWp/year</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Energy Yield"
                                   data-content="Energy Yield is the actual energy output of the system expressed in kWh/kWp per year.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Site Area</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <label style="text-align: left; font-weight: normal" class="control-label">{% if plant_detail.site_area %}{{ plant_detail.site_area }} acres{% else %} Unavailable{% endif %}</label>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Storage Original Capacity</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" name="storage_original_capacity" value="{{ plant_detail.storage_original_capacity }}">
                                        <span class="input-group-addon">kWh</span>
                                    </div>
                                </div>
                                <!--a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Storage Original Capacity"
                                   data-content="">
                                    <i class="fa fa-info fa-fw"></i>
                                </a-->
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Storage Current Capacity</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" name="storage_current_capacity" value="{{ plant_detail.storage_current_capacity }}" >
                                        <span class="input-group-addon">kWh</span>
                                    </div>
                                </div>
                                <!--a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Storage Current Capacity"
                                   data-content="">
                                    <i class="fa fa-info fa-fw"></i>
                                </a-->
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Storage State of Charge</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" name="storage_state_of_charge" value="{{ plant_detail.storage_state_of_charge }}" >
                                </div>
                                <!--a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Storage State of Charge"
                                   data-content="">
                                    <i class="fa fa-info fa-fw"></i>
                                </a-->
                            </div>

                            <!--<div class="form-group">
                                <label class="col-xs-4 control-label">Weather Source</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="weather_source" id="weather_source_ip">
                                        {% for key in weather_sources %}
                                            <option value="{{ key.id }}" {% ifequal key.id plant_detail.weather_source %} selected {% endifequal %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Weather Source"
                                   data-content="">
                                    <i class="fa fa-info fa-fw"></i>
                                </a
                            </div>-->

                            </div>
                            <div class="col-lg-12"><hr/></div>
                            <div class="col-lg-6">

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Address Line 1</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="address_line_1" {% if plant_detail.address_line_1 %} value="{{ plant_detail.address_line_1 }}" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Address Line 2</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="address_line_2" {% if plant_detail.address_line_2 %} value="{{ plant_detail.address_line_2 }}" {% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Country</label>
                                <div class="col-xs-6">
                                    <select class="form-control" name="country" id="country" onchange="getStatesbyCountry()">
                                        <option value="">----------</option>
                                        {% for key in country %}
                                            <option value="{{ key.id }}" {% if key.id == plant_detail.country|add:"0" %} selected{% endif %}>{{ key.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="state" class="col-xs-4 control-label">State</label>
                                <div class="col-xs-6">
                                    <select class="form-control" name="state" id="state" onchange="getCitiesByState()">
                                        {% for state in states %}
                                            <option value="{{ state.id }}" {% if state.id == plant_detail.state.id|add:"0" %}selected{% endif %}>{{ state.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="city" class="col-xs-4 control-label">City</label>
                              <div class="col-xs-6">
                                <select class="form-control" name="city" id="city">
                                    {% for state_id, cities in cities_dict.items %}
                                       {% if state_id == plant_detail.state.id|add:"0" %}
                                         {% for city in cities %}
                                          <option value="{{ city.id }}" {% if city.id == plant_detail.city.id|add:"0" %}selected{% endif %}>{{ city.name }}</option>
                                        {% endfor %}
                                      {% endif %}
                                    {% endfor %}
                                </select>
                              </div>
                            </div>

                            <input type='hidden' id="city_id" value="{{ plant_detail.city }}" />
                            <input type='hidden' id="state_id" value="{{ plant_detail.state }}" />

                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Postal Code</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="postal_code" {% if plant_detail.postal_code %} value="{{ plant_detail.postal_code }}" {% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">County</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="county" {% if plant_detail.county %} value="{{ plant_detail.county }}" {% endif %}>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Latitude</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" name="latitude" value="{{ plant_detail.latitude }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Longitude</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" name="longitude" value="{{ plant_detail.longitude }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Time Zone</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control input-sm" name="time_zone" {% if plant_detail.time_zone %} value="{{ plant_detail.time_zone }}" {% endif %}>
                                </div>
                            </div>

                            </div>
                            <div class="col-lg-12"><hr/></div>

                            <div class="form-group">
                                <label class="col-xs-2 control-label">Environmental Conditions<br>
                                    <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                        data-placement="bottom"
                                        data-trigger="focus" title="Environmental Conditions"
                                        data-content="The conditions in the environment surrounding the PV System.">
                                        <i class="fa fa-info fa-fw"></i>
                                    </a>
                                </label>

                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Environmental Conditions</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" class="form-control input-sm" multiple="multiple" title="Available Environmental Conditions" size="15" name="available_conditions" id="available_conditions_ip">
                                                {% for condition in environmental_conditions %}
                                                    {% if condition.id not in plant_detail.environmental_condition %}
                                                        <option value="{{ condition.id }}">{{ condition.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_conditions_ip, env_conditions_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(env_conditions_ip, available_conditions_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_conditions_ip, env_conditions_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(env_conditions_ip, available_conditions_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Environmental Conditions</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select form="general" style="border: none" multiple="multiple" title="Selected Environmental Conditions" size="15" class="form-control input-sm" name="environmental_condition" id="env_conditions_ip">
                                                {%  for condition in environmental_conditions %}
                                                    {% if condition.id in plant_detail.environmental_condition %}
                                                      <option value="{{ condition.id }}" selected>{{ condition.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if not create_plant and cost_model_license %}
                            <hr/>
                            <div class="form-group">
                                <label class="col-xs-2 control-label">Cost Model *</label>
                                <div class="col-xs-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Available Cost Models</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" size="15" class="form-control input-sm" title="Available Cost Models" name="available_cm_ip" id="available_cm_ip" >
                                                {% for cm in cost_models %}
                                                    {% if cm.id not in plant_detail.cost_model %}
                                                        <option value="{{ cm.id }}">{{ cm.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-1 btn-group-vertical" style="padding: 0">
                                    <button type="button" class="btn btn-default" onclick="add_selected(available_cm_ip, cm_ip)"><i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_selected(cm_ip, available_cm_ip)"><i class="fa fa-angle-double-left fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(available_cm_ip, cm_ip)">All<i class="fa fa-angle-double-right fa-fw"></i></button>
                                    <button type="button" class="btn btn-default" onclick="add_all(cm_ip, available_cm_ip)">All<i class="fa fa-angle-double-left fa-fw"></i></button>
                                </div>

                                <div class="col-xs-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Selected Cost Models</div>
                                        <div class="panel-body" style="padding: 0">
                                            <select style="border: none" multiple="multiple" title="Selected Cost Models" size="15" class="form-control input-sm" name="cost_model" id="cm_ip">
                                                {%  for cm in cost_models%}
                                                    {% if cm.id in plant_detail.cost_model %}
                                                      <option value="{{ cm.id }}" selected>{{ cm.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Active Cost Model *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="active_cost_model" id="active_cm_ip" required>
                                        <option selected disabled> -- select an option -- </option>
                                        {%  for cm in cost_models %}
                                            {% if cm.id in plant_detail.cost_model %}
                                              <option
                                                value="{{ cm.id }}" {% ifequal cm.id plant_detail.active_cost_model %} selected {% endifequal %}
                                              >{{ cm.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
              {% if not create_plant %}
              <button {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}
                      type="submit" class="btn btn-primary" name="plant_update_btn">
                  Update Plant Information
              </button>
              {% endif %}
            </div>
          {% if not create_plant %}
          </form>
          {% endif %}
        </div>
        <br/>

        <div class="row">
          {% if not create_plant %}
          <form name="equipment" class="form-horizontal" role="form" method="post" action="/organizations/{{ org_id }}/plants/{{ plant_detail.id }}">{% csrf_token %}
          {% endif %}
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Equipment</div>
                    <input type="hidden" name="equipment_id" value="{{ plant_detail.plant_equipment }}"/>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Inverter Type *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="inverter_type" id="inverter_type_ip" onchange="populateReplacementCost()">
                                        {% for key in inverter_types %}
                                            {% ifequal key.id plant_equipment.inverter_type %}
                                                <option value="{{ plant_equipment.inverter_type }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inverter Type"
                                   data-content="The category of Inverter with regards to size and electrical interface type.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Inverter Replacement Cost</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.inverter_replacement_cost }}" name="inverter_replacement_cost" id="inv_cost_ip">
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inverter Replacement Cost"
                                   data-content="The cost of replacement of a PV System Inverter in the future.
                                   This cost is stated in U.S. dollars per DC watt peak.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Inverter Capacity *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any"class="form-control input-sm" value="{{ plant_equipment.inverter_capacity }}" name="inverter_capacity" required>
                                        <span class="input-group-addon">kWp</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inverter Capacity"
                                   data-content="The amount of load that the inverter can handle; expressed in kWp,">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Inverters *</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.number_of_inverters }}" name="number_of_inverters" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Transformers</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.number_of_transformers }}" name="number_of_transformers">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">PV Module Type *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="module_type" id="module_type" onchange="populate_degradation_rate()">
                                        {% for key in module_types %}
                                            {% ifequal key.id plant_equipment.module_type %}
                                                <option value="{{ plant_equipment.module_type }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="PV Module Type"
                                   data-content="The category of PV Module with regard to physical composition and chemistry.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Module Degradation Rate/Year</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.module_degradation_rate }}" name="module_degradation_rate" id="module_degradation_rate_ip">
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Module Degradation Rate/Year"
                                   data-content="The assumed rate efficiency loss for the PV Modules used in the PV System.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Balance of System Degradation Rate/Year</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" name="balance_of_system_degradation_rate" value="{{ plant_equipment.balance_of_system_degradation_rate }}">
                                </div>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Whole System Degradation Rate/Year</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.whole_system_degradation_rate }} %</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Module Efficiency</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.module_efficiency }}" name="module_efficiency">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Module Efficiency"
                                   data-content="Module Efficiency is the percentage of solar energy that is converted into electricity.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Module Power *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.module_power }}" name="module_power" required>
                                        <span class="input-group-addon">W STC</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Module Power"
                                   data-content="Module Power is the Power Rating of the PV module in Watts
                                   under standard test conditions (STC).">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Modules per Row</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.modules_per_row }}" name="modules_per_row">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Modules per String</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.modules_per_string }}" name="modules_per_string">

                                </div>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Modules</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.number_of_modules }}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Strings</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.number_of_strings }}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Array Area</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.array_area }} m<sup>2</sup></label>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Strings per Combiner Box</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.strings_per_combiner_box }}" name="strings_per_combiner_box">
                                </div>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of Combiner Boxes</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.number_of_combiner_boxes }}</label>
                                </div>
                            </div>
                            {% endif %}
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Combiner Boxes per DC Disconnect</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.combiner_boxes_per_dcd }}" name="combiner_boxes_per_dcd">
                                </div>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Number of DC Disconnects</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.number_of_dc_disconnects }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Mounting Location *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="mounting_location" id="mounting_location_ip" onchange="disable_fields()">
                                        {% for key in mounting_locations %}
                                            {% ifequal key.id plant_equipment.mounting_location %}
                                                <option value="{{ plant_equipment.mounting_location }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Mounting Location"
                                   data-content="The surface upon which the Mounting Structure of the PV System is installed.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Mounting Type *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="mounting_type">
                                        {% for key in mounting_types %}
                                            {% ifequal key.id plant_equipment.mounting_type %}
                                                <option value="{{ plant_equipment.mounting_type }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Mounting Type"
                                   data-content="The category of mechanical apparatus used to fix PV Modules to the Mounting Location.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Roof Slope Type *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="roof_slope_type">
                                        {% for key in roof_slope_types %}
                                            {% ifequal key.id plant_equipment.roof_slope_type %}
                                                <option value="{{ plant_equipment.roof_slope_type }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Roof Slope Type"
                                   data-content="The category of Roof Slope with regard to the ratio of the vertical
                                   rise to the horizontal span of the roof.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Roof Type *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="roof_type">
                                        {% for key in roof_types %}
                                            {% ifequal key.id plant_equipment.roof_type %}
                                                <option value="{{ plant_equipment.roof_type }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Roof Type"
                                   data-content="The category of Roof with regard to material type.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Inspection Technique *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="inspection_technique">
                                        {% for key in inspection_techniques %}
                                            {% ifequal key.id plant_equipment.inspection_technique %}
                                                <option value="{{ plant_equipment.inspection_technique }}" selected="selected">{{ key.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inspection Technique"
                                   data-content="The category of observation location.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Array Area per Roof Attachment</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.array_area_per_roof_attachment }}" name="array_area_per_roof_attachment">
                                        <span class="input-group-addon">m<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Ground Coverage Ratio *</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" value="{{ plant_equipment.gcr }}" name="gcr" required>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Ground Coverage Ratio"
                                   data-content="The ratio of the total module area to the total ground area.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>

                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Total Rows</label>
                                <div class="col-xs-4">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.total_rows }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Tracking *</label>
                                <div class="col-xs-6">
                                    <select class="form-control input-sm" name="tracking" id="tracking_ip" onchange="disable_fields()">
                                        {% for key in tracking_types %}
                                            {% ifequal key.id plant_equipment.tracking_type.id %}
                                                <option value="{{ plant_equipment.tracking_type.id }}" selected="selected">{{ plant_equipment.tracking_type.name }}</option>
                                            {% else %}
                                                <option value="{{ key.id }}">{{ key.name }}</option>
                                            {% endifequal %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Tracking"
                                   data-content="The category of mechanical apparatus that orients PV Modules toward the sun.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Rows per Tracked Block</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.rows_per_tracked_block }}" name="rows_per_tracked_block" id="rows_per_tracked_block_ip">
                                </div>
                            </div>
                            {% if not create_plant %}
                            <div class="form-group">
                                <label class="control-label col-xs-4">Total Tracking Blocks</label>
                                <div class="col-xs-6">
                                    <label style="text-align: left; font-weight: normal" class="control-label">{{ plant_equipment.total_tracking_blocks }}</label>
                                </div>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-xs-4 control-label">Foundations per Row</label>
                                <div class="col-xs-6">
                                    <input type="number" class="form-control input-sm" value="{{ plant_equipment.foundations_per_row }}" name="foundations_per_row" id="foundations_ip">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Tilt *</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" min="0" max="360" class="form-control input-sm" name="tilt" value="{{ plant_equipment.tilt }}" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-xs-4 control-label">Azimuth *</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" min="0" max="360" class="form-control input-sm" name="azimuth" value="{{ plant_equipment.azimuth }}" required>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not create_plant %}
                    <button {% ifequal user_permission "Read" %} style="display: none;"  {% else %} style="padding-top: 10; padding-bottom: 10; padding-right: 15; padding-left: 15" {% endifequal %}
                            type="submit" class="btn btn-primary" name="plant_equipment_update_btn">
                        Update Plant Equipment
                    </button>
                {% endif %}
            </div>
          {% if not create_plant %}
          </form>
          {% endif %}
        </div>
        <br/>

        <div class="row" style="padding-bottom: 20px">
          {% if not create_plant %}
          <form name="finance" class="form-horizontal" role="form" method="post" action="/organizations/{{ org_id }}/plants/{{ plant_detail.id }}">{% csrf_token %}
          {% endif %}
            <input type="hidden" name="finance_id" value="{{ plant_detail.plant_finance }}"/>
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Finance</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4">System Installed Cost *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.system_installed_cost }}" name="system_installed_cost" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Analysis Period *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.analysis_period }}" name="analysis_period" required>
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Analysis Period"
                                   data-content="Analysis Period is the time period for which the cash flow analysis is being done.
                                        It is also called as Project Life. The maximum is 40 years.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Discount Rate *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_finance.discount_rate }}" name="discount_rate" required>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Discount Rate"
                                   data-content="The Discount Rate is a measure of the time value of money expressed as an annual rate.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Inflation Rate *</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" step="any" class="form-control input-sm" value="{{ plant_finance.inflation_rate }}" name="inflation_rate" required>
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inflation Rate"
                                   data-content="Inflation rate is the rate of cost change per annum. Inflation rate is typically based on price index.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Desired Confidence that Reserve Covers Cost *</label>
                                <div class="col-xs-6">
                                    <input type="number" step="any" class="form-control input-sm" value="{{ plant_finance.desired_confidence_that_reserve_covers_cost }}" name="desired_confidence_that_reserve_covers_cost" required>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Desired Confidence"
                                   data-content="The desired confidence ratio that the Reserve Account would be sufficient to cover the cost of a failure.
                                        For Example: 99.9% would be represented as 0.999">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-xs-4">Inverter Warranty</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.inverter_warranty }}" name="inverter_warranty">
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Inverter Warranty"
                                   data-content="The warranty provided by the Inverter Manufacturer.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">PV Module Warranty</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.module_warranty }}" name="module_warranty">
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="PV Module Warranty"
                                   data-content="The warranty provided by the PV Module Manufacturer.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">EPC Warranty</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.epc_warranty }}" name="epc_warranty">
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="EPC Warranty"
                                   data-content="The warranty provided by the EPC covering the construction of the PV system.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Monitoring Warranty</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.monitoring_warranty }}" name="monitoring_warranty">
                                        <span class="input-group-addon">years</span>
                                    </div>
                                </div>
                                <a tabindex="0" class="btn btn-default btn-circle" role="button" data-toggle="popover"
                                   data-placement="bottom"
                                   data-trigger="focus" title="Monitoring Warranty"
                                   data-content="The warranty provided by the Monitoring Provider.">
                                    <i class="fa fa-info fa-fw"></i>
                                </a>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-4">Working Hours/year</label>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input type="number" class="form-control input-sm" value="{{ plant_finance.working_hours }}" name="working_hours">
                                        <span class="input-group-addon">hours</span>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not create_plant %}
                <button
                        {% ifequal user_permission "Read" %} style="display: none;" {% endifequal %}
                        type="submit" class="btn btn-primary" name="plant_finance_update_btn">
                    Update Plant Finance
                </button>
                {% endif %}
            </div>
          {% if not create_plant %}
          </form>
          {% endif %}
        </div>

      {% if create_plant %}
      <button type="submit" class="btn btn-primary" name="plant_create_btn" style="
    margin-top: -40px;"">Create Plant</button>
      </form >
      {% endif %}
    <!-- Delete Modal -->
    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Plant</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ org_id }}/plants/{{ plant_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong>{{ plant_detail.name }}</strong>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" name="plant_del_btn">Delete</button>
                </div>
            </form>
            </div>
        </div>
    </div>


    <!-- Copy Modal -->
    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="copyModalLabel">Edit name of duplicate plant</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="/organizations/{{ org_id }}/plants/{{ plant_detail.id }}">{% csrf_token %}
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label col-xs-4">Plant Name</label>
                    <div class="col-xs-6">
                      <input type="text" class="form-control input-sm" name="name" value="Copy of {{ plant_detail.name }}"/>
                    </div>
                    <input type="hidden" name="equipment_id" value="{% firstof plant_detail.plant_equipment.id plant_detail.plant_equipment %}"/>
                    <input type="hidden" name="finance_id" value="{% firstof plant_detail.plant_finance.id plant_detail.plant_finance %}"/>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="plant_copy_btn">Copy</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <!-- Import Modal -->
    <div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upload Plant from CSV</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                    <p>Choose a CSV file to create a plant<br>
                        Use a format that matches the template <br> <br>
                    <input type="file" accept=".csv" name="datafile" required></p>
                    <p>View Template <a href='{% url "plant-upload-sample" %}'><u>HERE</u></a></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="plant_import_btn">Upload from CSV</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script>
    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    $(function() {
        $('#state option[value="' + $('#state_id')[0].value + '"]')[0].selected = true;
        getCitiesByState();
        $('#city option[value="' + $('#city_id')[0].value + '"]')[0].selected = true;
    });

    var inverter_type_select = document.getElementById("inverter_type_ip");
    var replacement_cost_field = document.getElementById("inv_cost_ip");

    var module_type_select = document.getElementById("module_type");
    var degradation_rate_field = document.getElementById("module_degradation_rate_ip");

    var active_costmodel_select = document.getElementById("active_cm_ip");
    var costmodels_select = document.getElementById("cm_ip");
    var tracking_select = document.getElementById("tracking_ip");
    var mounting_location_select = document.getElementById("mounting_location_ip");

    var inverter_type_data = '{{ inverter_type_data }}';
    var inverter_type_quotes = inverter_type_data.replace(/&quot;/ig, '"');
    var inverter_types = JSON.parse(inverter_type_quotes);

    var module_type_data = '{{ module_type_data }}';
    var module_type_quotes = module_type_data.replace(/&quot;/ig, '"');
    var module_types = JSON.parse(module_type_quotes);

    disable_fields();
    //populate_active_costmodel();


    function populateReplacementCost() {
        var selected_inv_type = inverter_type_select.options[inverter_type_select.selectedIndex].value;

        for (var i = 0; i < inverter_types.length; i++) {
            if (inverter_types[i]['id'] == selected_inv_type){
                replacement_cost_field.value = inverter_types[i]['replacement_cost'];
            }
        }
    }

    function populate_degradation_rate() {
        var selected_module_type = module_type_select.options[module_type_select.selectedIndex].value;

        for (var i = 0; i < module_types.length; i++) {
            if (module_types[i]['id'] == selected_module_type){
                degradation_rate_field.value = module_types[i]['degradation_rate'];
            }
        }
    }

    function removeOptions(selectbox) {
        var i;
        for (i = selectbox.options.length - 1; i >= 0; i--) {
            selectbox.remove(i);
        }
    }
    /*
    function populate_active_costmodel() {

        removeOptions(active_costmodel_select);

        var realvalues = [];
        var textvalues = [];
        $('#cm_ip :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });

        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            active_costmodel_select.appendChild(opt);
        }
    }
    */

    function disable_fields(){
        var selected_tracking = tracking_select.options[tracking_select.selectedIndex].innerHTML;
        var selected_mounting_location = mounting_location_select.options[mounting_location_select.selectedIndex].innerHTML;

        if (selected_tracking == 'No Tracking'){
            $("#rows_per_tracked_block_ip").prop("disabled", true);
        }
        else{
            $("#rows_per_tracked_block_ip").prop("disabled", false);
        }

        if (selected_mounting_location == 'Rooftop'){
            $("#foundations_ip").prop("disabled", true);
        }
        else{
            $("#foundations_ip").prop("disabled", false);
        }
    }

    $('form').submit(function () {
        $('#env_conditions_ip option').prop("selected", "selected");
        $('#cm_ip option').prop("selected", "selected");
    });

    function add_selected(from, to) {
        var realvalues = [];
        var textvalues = [];
        $('#'+from.id+' :selected').each(function(i, selected) {
            realvalues[i] = $(selected).val();
            textvalues[i] = $(selected).text();
        });
        var to_select = document.getElementById(to.id);
        for (var i = 0; i < realvalues.length; i++) {
            var opt = document.createElement("option");
            opt.value= realvalues[i];
            opt.innerHTML = textvalues[i];
            opt.selected = true;
            to_select.appendChild(opt);
        }
        $("#"+from.id+" option:selected").remove();

        $('#active_cm_ip option[value!="0"]').remove();
        $('#cm_ip option[value!="0"]').clone().appendTo('#active_cm_ip');
    }

    function add_all(from, to) {

        $('#'+from.id+' option[value!="0"]').remove().appendTo('#'+to.id);

        $('#active_cm_ip option[value!="0"]').remove();
        $('#cm_ip option[value!="0"]').clone().appendTo('#active_cm_ip');
    }
    document.onload = populateReplacementCost();
    document.onload = populate_degradation_rate();
    </script>

    <script type="text/javascript">

        var country_select = document.getElementById("country");
        var state_select = document.getElementById("state");
        var city_select = document.getElementById("city");
        /*
        if (country_select.value == "") {
            var opt1 = document.createElement("option");
            opt1.value = "";
            opt1.innerHTML = "----------";
            state_select.appendChild(opt1);
            if (state_select.value = "") {
                var opt2 = document.createElement("option");
                opt2.value = "";
                opt2.innerHTML = "----------";
                city_select.appendChild(opt2);
            }
        }
        */
        var state_list = '{{ state }}';
        var state_list_quotes = state_list.replace(/&quot;/ig, '"');
        var states = JSON.parse(state_list_quotes);

        var city_list = '{{ city }}';
        var city_list_quotes = city_list.replace(/&quot;/ig, '"');
        var cities = JSON.parse(city_list_quotes);

        function removeOptions(selectbox) {
            var i;
            for (i = selectbox.options.length - 1; i >= 0; i--) {
                selectbox.remove(i);
            }
        }

        function populate_state() {

            removeOptions(state_select);
            var selected_country = country_select.options[country_select.selectedIndex].value;

            //for (var i = 0; i < states['results'].length; i++) {
            if (selected_country == ""){
                var opt1 = document.createElement("option");
                opt1.value = "";
                opt1.innerHTML = "----------";
                state_select.appendChild(opt1);
            }
            else for (var i = 0; i < states.length; i++) {
                if (states[i]['country'] == selected_country){
                    var opt = document.createElement("option");
                    opt.value= states[i]['id'];
                    opt.innerHTML = states[i]['name'];
                    state_select.appendChild(opt);
                }
            }
        }
        function populate_city() {

            removeOptions(city_select);
            var selected_state = state_select.options[state_select.selectedIndex].value;
            if (selected_state == ""){
                var opt2 = document.createElement("option");
                opt2.value = "";
                opt2.innerHTML = "----------";
                removeOptions(city_select);
                city_select.appendChild(opt2);
            }
            else for (var i = 0; i < cities.length; i++) {
                if (cities[i][ 'state'] == selected_state){
                    var opt = document.createElement("option");
                    opt.value= cities[i]['id'];
                    opt.innerHTML = cities[i]['name'];
                    city_select.appendChild(opt);
                }
            }
        }

    $('#addCityModal').on('shown', function(){
        //$(".country_ip).change();
        //$(".city_name_ip).html('Hello');
        //$(".modal-body).html('Hello');
      alert('The modal is shown');
    });


    </script>

{% endblock %}
