{% extends "base.html" %}

{% block head %}
    Plant Data Import
{% endblock %}

{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}

        <div class="row">
            <div class="col-lg-10">
                <div class="panel panel-info">
                    <div class="panel-heading">Plant Import</div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Data Source</label>
                                    <div class="col-xs-6">
                                        <select class="form-control input-sm" name="plant_origin_name" required>
                                              <option selected="selected">---Choose Source---</option>
                                              <option value="CSI">CSI</option>
                                              <option value="PVOUTPUT">PVOUTPUT</option>
                                              <option value="PVDAQ" disabled>PVDAQ</option>
                                    </select>
                                    </div>

                                </div>

                                <!--<div class="form-group">
                                    <label for="id_time_series" class="control-label col-xs-4">Import Time Series Data</label>
                                    <div class="col-xs-6">
                                        <input type="file" name="time_series" required id="id_time_series" />
                                    </div>
                                </div>-->

                                <!--<div class="form-group">
                                    <label class="control-label col-xs-4" for="id_plant_create">Import Plant Data</label>
                                    <div class="col-xs-6">
                                        <input type="file" name="plant_create" required id="id_plant_create" />
                                    </div>
                                </div>-->

                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div>
        <button type="submit" class="btn btn-primary" name="plant_create_btn">Import Plants</button>
        </div>
    </form>


{% endblock %}
