{% extends "base.html" %}
{% block head %}Plants{% endblock %}
{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
{% endfor %}

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table id ="list_table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><strong>Plant Name</strong></td>
                            <td><strong>Plant Description</strong></td>
                            <td><strong>Plant Location</strong></td>
                            <td><strong>PV Market Sector</strong></td>
                            <td><strong>DC Rating (kW)</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in plant_list %}
                            <tr style="cursor: pointer;">
                                <td>{{ key.name }}</td>
                                <td>{% if key.description %}{{ key.description }} {% endif %}</td>
                                <td>{{ key.state }} {{ key.postal_code }}</td>
                                <td>{% for sector in pv_market_sectors %} {% ifequal sector.id key.pv_market_sector %} {{ sector.name }} {% endifequal %}{% endfor %}</td>
                                <td>{% ifnotequal key.dc_rating None %}{{ key.dc_rating }}{% endifnotequal %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $("#list_table").DataTable({
                dom: "Bfrtip",
                responsive: true,
                processing: true,
                serverSide: true,
                pageLength: 10,
                select: true,
                ajax: {
                    url: "/organizations/{{ org_id }}/plants/",
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}"
                        {% for key, value in filter_data.items %}
                        , {{ key }}: '{{ value }}'
                        {% endfor %}
                    },
                    dataType: "json",
                },
                columns: [
                    { data: "name" },
                    { data: "description" },
                    { data: "state" },
                    { data: "pv_market_sector" },
                    { data: "dc_rating" },
                ],
                "searching": false,
            });

            $('#list_table tbody').on( 'click', 'tr', function () {
                var id = table.row(this).data().id;
                document.location.href = id
            });

        });
    </script>

{% endblock %}
