{% extends "base.html" %}
{% block head %}User Profile{% endblock %}
{% block content %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

    <div class="table-responsive">
    <table class="table table-hover">

    <tbody>

    {% for key in data %}
        <tr>
            <td><strong>Email Address</strong></td>
            <td>{{ key.email }}</td>
        </tr>
        <tr>
            <td><strong>First Name</strong></td>
            <td>{{ key.first_name }}</td>
        </tr>
        <tr>
            <td><strong>Last Name</strong></td>
            <td>{{ key.last_name }}</td>
        </tr>
        <tr>
            <td><strong>Organization</strong></td>
            <td>{{ org_name }}</td>
        </tr>
        <tr>
            <td><strong>User Permission</strong></td>
            <td>{{ key.user_permission }}</td>
        </tr>


    {% endfor %}

    </tbody>
    </table>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button type="button" name="resetModal" class="btn btn-primary" data-toggle="modal" data-target="#resetModal">Change Password</button>
        </div>
    </div>

    <!-- Reset Password Modal -->
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Password</h4>
            </div>
            <form class="form-horizontal" role="form" method="post" action=".">{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Email Address</label>
                        <div class="col-xs-4">
                            <input type="email" class="form-control input-sm" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">Password</label>
                        <div class="col-xs-4">
                            <input type="password" class="form-control input-sm" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">New Password</label>
                        <div class="col-xs-4">
                            <input type="password" class="form-control input-sm" name="new_password" id="new_password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-5">Verify Password</label>
                        <div class="col-xs-4">
                            <input type="password" class="form-control input-sm" name="verify_password" id="verify_new_password" required>
                        </div>
                        <p id="validate-status" style="color: #840505;font-size: 11px;margin-top: 10px;"></p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="reset_btn">Change</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#verify_new_password").keyup(validate);
        });

        function validate() {
            var password1 = $("#new_password").val();
            var password2 = $("#verify_new_password").val();
            var password_correct = false;
                if(password1 != password2) {
                $("#validate-status").text("*Passwords do not match");
                $('button[name=reset_btn]').attr('disabled', true);
            }
                else {
                    $("#validate-status").text("");  
                }
            if(password1 == password2) {
                $("#validate-status-true").text("Passwords Match!");
                $('button[name=reset_btn]').attr('disabled', false);
                        }
            else {
                $("#validate-status-true").text("");
                $('button[name=reset_btn]').attr('disabled', true);
            }
        }

    </script>


{% endblock %}
