{% extends "base.html" %}
{% block head %}Release Notes{% endblock %}
{% block content %}

    <h3>v0.9.0 (Beta) Features – <i>February 28, 2017</i></h3>
    <h4>1.	User Roles and Permissions</h4>
    Support three levels of user access – read, write and admin.
    <h4>2.	User Management</h4>
    Each organizational admin can add users, assign permissions, modify roles and delete users.
    <h4>3.	Plant Groups</h4>
    Support grouping of multiple plants and plant groups into a plant group and get aggregated results for all the plants in the plant group.
    <h4>4.	Reports</h4>
    Enhanced plant and plant group reports with additional calculations and graphic representations such as,
        a.	Reserve Account
        b.	Maximum Reserve Account
        c.	Levelized Cost of Energy
        d.	NPV Annual O&M Costs per kWh
    <h4>5.	Cost Models</h4>
    <p>Support of automatic generation of cost models when a plant is created.
        The generated cost model is specifically tailored to match the plant attributes.</p>
    <h4>6.	Services</h4>
    <p>The system now includes 134 default services derived from the PV O&M Best Practices Document.</p>
    <h4>7.	Labor Rates</h4>
    <p>Support creation and management of multiple labor rates based on a region.</p>
    <h4>8.	Import from Excel and Export to Excel</h4>
    <p>Ability to export the plant, cost model and service data along with the calculated results to an Excel spreadsheet.
        Additionally, the exported spreadsheet can be used as a template to import plant information into the application.</p>
    <h4>9.	User Experience</h4>
    <p>Enhanced user experience by the use of helpful tooltips.</p>

    <h3>v0.8.0 (Alpha) Features – <i>September 30, 2016</i></h3>
    <h4>1. User Management</h4>
    <p>For the Alpha release, the users will be registered to the application by the system administrator.
        The user can log in to the application using the credential provided.
        Once logged in, the user can access all the resources available in the organization. </p>
    <h4>2. Plant Management</h4>
    <p>The application allows creation of new plants, view a list of existing plants, edit plant information and delete a plant.
        During plant creation, the user provides plant information and adds cost models to the plant.</p>
    <h4>3. Cost Model Management </h4>
    <p>When an organization is created, a set of default cost models are made available to the organization.
        These default cost models are derived from best practices.
        The application allows creation of new cost models based off of the existing cost models.
        Once the cost model is created, the user can then edit the cost model, add services, remove services and edit service details. </p>
    <h4>4. Service Management</h4>
    <p>The application provides 129 default services derived from best practices.
        However, the user may create new services and add them to the cost model.
        The user cannot edit or delete the default services, but, can clone the default services and save as a new service.
        Once the service is coned, the service values can be updated. The user has full read/write access to the services created by the organization. </p>
    <h4>5. Labor Rates</h4>
    <p>The labor rates are derived from the National Bureau of Labor Statistics.
        Each service provider has an associated labor rate along with an overhead multiplier.
        The loaded rate per hour is used in the calculations. </p>
    <h4>6. Reports</h4>
    <p>Once the plants and cost models have been created, the user can generate reports for them.
        The application provides detailed information regarding the calculated results and also provides graphical representation of the results. </p>
    <h3>Future Enhancements</h3>
    <p>1. Support three levels of user access – read, write and admin.
        Each organization will be able to manage users for that organization</p>
    <p>2. Support multiple labor rates based on region</p>
    <p>3. Support multiple failure rates</p>
    <p>4. Support import and export of generated cost model data set </p>




{% endblock %}