<style type="text/css">
.input-group-btn:last-child>.btn {
    margin-top: 25px;
}

.checkboxes input {
  vertical-align: top;
}


</style>

<script type="text/javascript">
  var cities = {{ cities|safe }};

  function getCitiesByState(){
    cfs = cities[parseInt($('#state').find(':selected').val())];
    $('#city').empty();
    $.each(cfs, function(index) {
     $('#city')
          .append(
                  $('<option>', { value : cfs[index].id ,  'text': cfs[index].name})
      );
    });
  $("#city").prepend("<option value='' selected='selected'>---select city---</option>");
  }

  function getCitiesByStateAndSetCity(cityid){
    cfs = cities[parseInt($('#state').find(':selected').val())];
    $('#city').empty();
    $.each(cfs, function(index) {
     $('#city')
          .append(
                  $('<option>', { value : cfs[index].id ,  'text': cfs[index].name, 'selected': cfs[index].id == cityid})
      );
    });
  }

  $(document).ready(getCitiesByState);
</script>

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message }}</strong></div>
    {% endfor %}

<div class="container-fluid">
    <form role="form" method="post" action="{{ form_url }}">{% csrf_token %}
    {% if button_name == 'generate_report_btn' %}
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">Report Attributes</div>
        <div class="panel-body">

          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Report Name</label>
              <div><input type="text" name="name" class="form-control" required></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="observation_start_date">Initial Measurement Date</label>
                <div><input type="date" name="observation_start_date" class="form-control" value="2001-01-01"></div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="observation_end_date">Final Measurement Date</label>
                <div><input type="date" name="observation_end_date" class="form-control" value="2016-12-31"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

    <!-- Plant Information -->
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">Plant Information</div>
        <div class="panel-body">

          <div class="col-md-6">
            <div class="form-group">
              <label for="state">Select State(optional)</label>
              <select class="form-control" name="state" id="state" onchange="getCitiesByState()">
                {% for state in states %}
                  <option value="{{ state.id }}">{{ state.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
             <label for="city">Select City(optional)</label>
              <select class="form-control" name="city" id="city">
                <option value="">city</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--  first row of form ends here -->
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">Plant Attributes</div>
        <div class="panel-body" id="attribute_filters"></div>

        </div>
      </div>
  
    {% if button_name == 'generate_report_btn' %}
    <div class="row">
      <div class="form-group checkboxes">
        <!-- <input type="checkbox" name="email_desired"> -->
        <label><input type="checkbox" name="email_desired" /><span> Click here if you would like an email after you report has finished?</span></label>
      </div>
    </div>
    {% endif %}

    <div class="row">
        <button class="btn btn-primary" type="submit" name="{{ button_name }}" style="margin-bottom: 20px;margin-top: 20px;">{% if button_name == 'generate_report_btn' %}Generate Report{% else %}Select{% endif %}</button>
    </div>

  </form>


  <script type="text/javascript">
	function create_select(name, options) {
		sel = $('<select/>', {'class': 'form-control', 'name': name});
	  $.each(
		options, function (ind, ele) {
				sel.append($('<option/>', {'name': ele[0], 'value': ele[0], 'text': ele[1]}));
		  }
	  );
	  return sel[0];
	}

	function create_form_group(name, label, select) {
		return $(
		'<div/>', {'class': 'col-md-4', 'id': name}
	  ).append(
		$(
			'<div/>', {'class': 'form-group'}
		).append(
			$(
				'<label/>', {'for': name, 'text': label}
			)
		).append(select)
	  )
	}

	function create_form_group_with_no_label(name, select) {
		return $(
		'<div/>', {'class': 'col-md-4', 'id': name}
	  ).append(
		$(
			'<div/>', {'class': 'form-group'}
		).append(select)
	  )
	}


function create_input(name, label, btn_cls, eventHandler){
	return $(
  	'<div/>', {'class': 'input-group'}
  ).append(
  	$(
  		'<label/>', {'for': name, 'text': label}
    )
  ).append(
  	$(
  		'<input/>', {'type': 'text', 'name': name, 'class': 'form-control'}
  	)
  ).append(
  	$(
    	'<div/>', {'class': 'input-group-btn'}
    ).append(
    	$(
      	'<button/>', {'type': 'button', 'class': 'btn ' + btn_cls.split('|')[0], 'click': eventHandler}
      ).append(
      	$(
        	'<span/>', {'aria-hidden': 'true', 'class': 'glyphicon glyphicon-' + btn_cls.split('|')[1]}
        )
      )
    )
  )
}

	plant_attributes = [
		['name', 'Name'],
	  ['description', 'Description'],
	  ['activation_date', 'Activation Date'],
	  ['dc_rating', 'DC Rating'],
	  ['derate_factor', 'Derate Factor'],
	  ['energy_yield', 'Energy Yield'],
	  ['address_line_1', 'Address'],
	  ['county', 'County'],
	  ['postal_code', 'Postal Code'],
	  ['storage_original_capacity', 'Storage Original Capacity'],
	  ['storage_current_capacity', 'Storage Current Capacity'],
	  ['pv_market_sector', 'Market Sector'],
	  ['environmental_condition', 'Environmental Condition'],
	  ['plant_origin', 'Plant Origin'],
	  ['organization', 'Organization']
	]

	comparison_operators = [
		['__contains', 'contains'],
	  ['__lt', 'less than'],
	  ['__lte', 'less than or equals to'],
	  ['__iexact', 'equals to'],
	  ['__gte', 'greater than or equals to'],
	  ['__gt', 'greater than']
	]


	function addRow(name, btn_cls, to_element, eventHandler){
      row = $('<div/>', {'group-id': name});

	  row.append(
		create_form_group(
				name,
			'Attribute',
			create_select(name, plant_attributes)
			)
	  );

	  row.append(
		create_form_group(
				'comparison_' + name,
			'Comparison Operation',
			create_select('comparison_' + name, comparison_operators)
	   )
		);
	  
	  
	  row.append(
		create_form_group_with_no_label(
			'value_' + name,
			create_input('value_' + name, 'Value', btn_cls, eventHandler)
		)
	  );

	 to_element.append(row);
		
	}

    function removeRow(name) {
		return function(){$('div[group-id='+ name+']').each(function(){this.remove()})}
	}

    function addRowOnClick() {
		return function(){
			allAttrs = $('div[group-id*=attribute');
			next = eval(allAttrs[allAttrs.length - 1].getAttribute('group-id').split('_')[1]) + 1;
			addRow('attribute_' + next, 'btn-danger|minus', $('#attribute_filters'), removeRow('attribute_' + next));
		}
	}

	addRow('attribute_1', 'btn-success|plus', $('#attribute_filters'), addRowOnClick());
  </script>

  <script type="text/javascript">
    var custom_query = {{ custom_query|safe }}

    set_select_option = function(select_id, opt_value_to_select, callback){
        $('#' + select_id + ' option[value=' + opt_value_to_select +']').each(
            function() {this.selected = true; callback();}
        )
    }

	if ('report_name' in custom_query) {
		$('input[name=name]').each(function(){this.value = 'Copy of ' + custom_query.report_name});
	}

	if ('start_date' in custom_query) {
		$('input[name=observation_start_date]').each(function(){this.value = custom_query.start_date});
	}

	if ('end_date' in custom_query) {
		$('input[name=observation_end_date]').each(function(){this.value = custom_query.end_date});
	}

    if ('state' in custom_query.api_query) {
        set_select_option('state', custom_query.api_query.state, function(){});
    }

    if ('city' in custom_query.api_query) {
      setTimeout(function(){getCitiesByStateAndSetCity(custom_query.api_query.city);}, 500);
    } else {
      getCitiesByState();
    }

    for (key in custom_query.api_query) {
        // if (key in ['state', 'city']) { continue; }
        [attr_name, compare] = key.split('__');

        // select all attributes selects
        try {
            attrs = $('select[name^=attribute_]');
            last_attr = attrs[attrs.length - 1].options.namedItem(attr_name).selected = true;
        } catch(e) {
            continue;
        }

        // select all comparison selects
        attrs = $('select[name^=comparison_attribute]');
        last_attr = attrs[attrs.length - 1].options.namedItem('__'+ compare).selected = true;

        // select all value inputs 
        attrs = $('input[name^=value_attribute]');
        last_attr = attrs[attrs.length - 1].value = custom_query.api_query[key];

        // add additional field
        addRowOnClick()();

    }

      $("#state").prepend("<option value='' selected='selected'>---select state---</option>");
  </script>
</div>
